// Секция "Отправить заявку"

$application-text-color: #003828
$application-text-size: 0.9rem

.application
	display: none
	position: absolute
	z-index: 4
	left: 0
	top: 0
	width: 100%
	height: 100%

	&.is-open
		display: block
		opacity: 0
		top: -100%
		transform: scale(0.5)
		transition: all 0.8s

	&.transition
		top: 0
		transform: scale(1)
		opacity: 1

	&__back
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		background: url('/pic/design/application-back.jpg') 50% 50% no-repeat
		background-size: cover
		transform: scale(1, 1)

	&.is-open &__back
		animation: scaleBackground 30s infinite

@keyframes scaleBackground
	0%, 100%
		transform: scale(1, 1)
	50%
		transform: scale(1.2, 1.2)

.app-form
	position: absolute
	left: 50%
	top: 50%
	width: 350px
	transform: translate(-50%, -50%)
	color: $application-text-color
	z-index: 2

	&__title
		margin-bottom: 20px
		font-size: 1.4rem
		text-align: center

	&__fieldset
		margin-bottom: 15px
		padding: 15px
		border: 3px solid rgba(255, 255, 255, 0.65)
		border-width: 3px 0

	&__field
		position: relative
		margin-bottom: 10px

		&:last-child
			margin-bottom: 0

	&__field.is-required &__label:after
		content: '*'
		margin-left: 3px
		color: #FF7D7D
		font-size: 0.9rem

	&__label
		position: absolute
		left: 10px
		top: 12px
		pointer-events: none
		font-size: $application-text-size

	&__input:focus + &__label,
	&__textarea:focus + &__label,
	&__input:not(.is-empty) + &__label,
	&__textarea:not(.is-empty) + &__label
		display: none

	&__input,
	&__textarea
		width: 100%
		padding: 10px
		border-radius: 5px
		box-sizing: border-box
		border: 3px solid rgba(255, 255, 255, 0.5)
		background: #FFF
		outline: none
		background-clip: padding-box
		font-size: $application-text-size
		color: $application-text-color

		&:focus
			border-color: rgba(0, 143, 0, 0.2)

	input[type="text"],
	textarea
		font-size: 0.9rem
		font-family: $font-family

	&__textarea
		height: 85px
		resize: none

	&__submit
		position: relative
		display: block
		width: 215px
		height: 50px
		margin: 0 auto
		border-radius: 50px
		text-transform: uppercase
		border: 0
		box-sizing: border-box
		background-color: rgba(0, 56, 40, 0.65)
		color: #FFF
		font-size: 1.1rem
		text-align: center
		font-weight: bold
		cursor: pointer

		&:hover
			background-color: rgba(0, 56, 40, 0.85)

		&:hover .text:after
			width: calc(100% - 15px)

		.text
			position: relative
			display: inline-block

		.text:before
			content: ''
			display: inline-block
			margin-right: 5px
			@include sprite($ico-application)
			vertical-align: middle

		.text:after
			content: ''
			position: absolute
			left: 15px
			bottom: 0
			width: 24px
			height: 3px
			background: #EEE
			font-size: 0
			opacity: 0.95
			transform: scaleY(0.8)

	.close
		position: absolute
		right: -55px
		top: -5px
		opacity: 0.8

		&:hover
			opacity: 1
