.back-page
	display: none
	overflow: hidden
	position: absolute
	width: 220px
	top: 7%
	right: 10%
	opacity: 0
	transition: all 0.35s
	color: #FFF

	&__interactive
		margin-bottom: 30px
		padding-top: 15px
		border-top: 4px solid #FFF

		.ico
			cursor: pointer
			vertical-align: middle

	&__social
		display: inline-block
		padding-top: 10px
		border-top: 4px solid #FFF

.is-modalview
	perspective: 1500px
	transform-style: preserve-3d
	background-color: #9EC655

	.back-page
		display: block

	.page-viewport
		transition: transform 0.5s
		transform-origin: 0 50%
		transform: translateZ(0) rotateY(0)

.is-animate
	.back-page
		opacity: 1

	.page-viewport
		transform-origin: 0 50%
		transform: translateZ(-500px) rotateY(45deg)
