.camera-wrap
	display: none

.camera-viewport
	position: relative

	iframe
		width: 800px
		height: 600px
		overflow: hidden

.camera-switcher
	display: flex
	position: absolute
	left: 0
	top: 0
	z-index: 1

	&__item
		min-width: 125px
		min-height: 50px
		margin-right: 1px
		padding: 10px
		background-color: rgba(255, 255, 255, 0.85)
		font-size: 0.9rem
		cursor: pointer

		&.active
			background-color: #FFF

			b
				border: transparent

	b
		display: inline-block
		margin-bottom: 5px
		border-bottom: 1px dashed
		font-weight: bold
		color: #7AB355
		font-size: 1rem

		&:hover
			border-color: transparent

	span
		display: block