@font-face
	font-family: 'toyota_textbold'
	src: url('/fonts/toyotatext_0.woff2') format('woff2'), url('/fonts/toyotatext_0.woff') format('woff'), url('/fonts/toyotatext_0.ttf') format('truetype')
	font-weight: bold
	font-style: normal

@font-face
	font-family: 'toyota_textregular'
	src: url('/fonts/toyotatext_rg_0.woff2') format('woff2'), url('/fonts/toyotatext_rg_0.woff') format('woff'), url('/fonts/toyotatext_rg_0.ttf') format('truetype')
	font-weight: bold
	font-style: normal

@font-face
	font-family: 'rouble'
	src: local('rouble'), url('/fonts/rouble.woff2') format('woff2'), url('/fonts/rouble.woff') format('woff'), url('/fonts/rouble.ttf') format('truetype')
	font-weight: normal
	font-style: normal
