
$footer-height: 95px

.footer
	position: absolute
	bottom: 0
	left: 0
	width: 100%
	height: 95px
	background-color: rgba(31, 45, 46, 0.7)
	z-index: 3

	&__line
		height: $footer-height / 2
		background-color: green
		box-sizing: border-box

		&:nth-child(1)
			padding: 6px 20px
			background-color: #FFF

		&:nth-child(2)
			background-color: rgba(255, 255, 255, 0.7)

	.action-box
		position: relative
		width: 52%
		display: inline-block

		&:nth-child(2)
			width: 47%
			text-decoration: none

		&:before
			content: ''
			position: absolute
			left: 0
			top: -2px

		&_phone:before
			@include sprite($ico-24)

		&_request:before
			@include sprite($ico-request)
		&_request:hover:before
			@include sprite($ico-request-active)

		&__text
			margin-left: 50px
			padding-left: 10px
			height: 35px
			line-height: 35px
			border-left: 1px solid green

.companies-list
	margin-left: 5px
	padding: 8px 0 0 12px

	&__item
		display: inline-block
		margin-right: 10px

		&:last-child
			margin-right: 0

	img
		margin-right: 5px

	img,
	&__text
		display: inline-block
		vertical-align: middle
		font-size: 0.65rem

	&__text
		text-decoration: underline
		transform: scale(0.935)
		line-height: 1.35

	&__item:hover &__text
		text-decoration: none
