$top-to-buildings: 300px
$left-to-buildings: 500px

.plan
	position: absolute
	left: 50%
	top: 50%
	width: 1920px
	height: 1200px
	margin-top: -600px
	margin-left: -960px
	background: url('/pic/design/plan.jpg') 0 0 no-repeat

	.tooltip
		position: absolute

		&_1
			left: $left-to-buildings + 70px
			top: $top-to-buildings + 20px

		&_2
			left: $left-to-buildings + 760px
			top: $top-to-buildings + 20px

		&_3
			left: $left-to-buildings + 150px
			top: $top-to-buildings + 400px

		&_4
			left: $left-to-buildings + 500px
			top: $top-to-buildings + 420px

		&__content
			position: relative
			z-index: 2
			width: 55px
			height: 55px
			border: 3px solid #FFF
			box-shadow: inset 0 0 0 2px #0F292A
			background: #FFF
			border-radius: 50%
			text-align: center
			font-size: 1.6rem
			line-height: 50px
			color: #0F292A

			&:first-letter
				font-size: 2rem

		&:after
			content: ''
			position: absolute
			z-index: 3
			right: 0
			top: 0
			@include sprite($ico-leaf2)

		&:before
			content: ''
			position: absolute
			bottom: -27px
			left: 50%
			margin-left: -16px
			border: 15px solid transparent
			border-top-color: #0F292A
			z-index: 1

	.tooltip-small
		position: absolute

		.ico
			margin: 0

			&:before
				vertical-align: middle

		&_1
			left: $left-to-buildings + 345px
			top: $top-to-buildings + 330px

		&_2
			left: $left-to-buildings + 470px
			top: $top-to-buildings + 220px

		&_3
			left: $left-to-buildings + 650px
			top: $top-to-buildings + 150px

		&_4
			left: $left-to-buildings + 550px
			top: $top-to-buildings + 150px

		&__content
			position: relative
			z-index: 2
			width: 40px
			height: 40px
			border: 2px solid #0F292A
			background: #FFF
			border-radius: 50%
			text-align: center
			line-height: 33px
			color: #0F292A

		&:before
			content: ''
			position: absolute
			top: 100%
			left: 50%
			margin-top: -2px
			margin-left: -10px
			border: 10px solid transparent
			border-top-color: #7AB355
			z-index: 1

.plan-compass
	position: absolute
	right: 20px
	bottom: 110px
	@include sprite($compass)
