.header
	position: absolute
	left: 0
	top: 0
	width: 100%
	background: rgba(255, 255, 255, 0.8)
	z-index: 5

	&__wrap
		position: relative
		height: 55px

	&__logo
		position: absolute
		left: 0
		top: 0
