.ico
	position: relative
	display: inline-block
	margin-right: 10px
	box-sizing: border-box

	&:before
		content: ''
		display: inline-block
		vertical-align: top

	&.ico-cam:before
		@include sprite($ico-cam-circle)
	&.ico-cam:hover:before
		@include sprite($ico-cam-active)

	&.ico-play:before
		@include sprite($ico-play-small)
	&.ico-play:hover:before
		@include sprite($ico-play-active)

	&.ico-360:before
		@include sprite($ico-360)

	&.ico-360-circle:before
		@include sprite($ico-360-circle)
	&.ico-360-circle:hover:before
		@include sprite($ico-360-active)

	&.ico-vk:hover
		opacity: 0.8
	&.ico-vk:before
		@include sprite($ico-vk)

	&.ico-fb:hover
		opacity: 0.8
	&.ico-fb:before
		@include sprite($ico-fb)

	&.ico-fitness:before
		@include sprite($ico-fitness)

	&.ico-kinder:before
		@include sprite($ico-kinder)

	&.ico-parking:before
		@include sprite($ico-parking)

	&.ico-abc:before
		@include sprite($ico-abc)

.ico-close-white
	display: inline-block
	width: 55px
	height: 50px
	text-align: center
	line-height: 44px
	cursor: pointer

	&:before
		content: ''
		display: inline-block
		@include sprite($ico-close-white)

.ico-close-green
	display: inline-block
	width: 55px
	height: 50px
	text-align: center
	line-height: 44px
	background-color: rgba(255, 255, 255, 0.7)
	cursor: pointer
	opacity: 0.85

	&:hover
		opacity: 1

	&:before
		content: ''
		display: inline-block
		vertical-align: middle
		@include sprite($ico-close-green)

.button-plus
	position: relative
	width: 35px
	height: 35px
	border: 2px solid #FFF
	background: #9EC655
	border-radius: 50%
	cursor: pointer
	text-align: center
	transition: transform 0.3s
	transform-origin: 50% 50%

	&:hover
		background-color: #43A505

	&.is-active
		transform: rotate(45deg)

	&:before
		content: ''
		position: relative
		top: 5px
		display: inline-block
		@include sprite($cross)

.ico-full
	display: block
	@include sprite($ico-full)

	&:hover
		@include sprite($ico-full-active)

.ico-compass
	display: inline-block
	width: 30px
	height: 30px
	margin-right: 8px
	border: 2px solid #9EC655
	border-radius: 50%
	text-align: center
	vertical-align: middle
	line-height: 35px

	&:before
		content: ''
		display: inline-block
		@include sprite($ico-compass)

.genplan-button
	display: inline-block
	padding: 5px 15px 5px 10px
	background-color: #FFF
	background-clip: padding-box
	border: 3px solid transparentize(#FFF, 0.3)
	border-radius: 30px
	font-size: 0.9rem
	color: #000
	vertical-align: middle
	text-decoration: none
	cursor: pointer

	.ico-compass
		margin-left: -3px

	span
		border-bottom: 1px dashed

	&:hover
		span
			border-color: transparent

%action-link
	margin-right: 10px
	text-decoration: none
	font-size: 0.9rem

	span
		border-bottom: 1px dashed

	&:hover span
		border-color: transparent

	&:before
		content: ''
		display: inline-block
		margin-right: 8px
		vertical-align: middle

.link-print
	@extend %action-link

	&:before
		@include sprite($ico-print-white)

	&_green:before
		@include sprite($ico-print-green)

.link-pdf
	@extend %action-link

	&:before
		@include sprite($ico-pdf-white)

	&_green:before
		@include sprite($ico-pdf-green)
