*
	box-sizing: border-box

body
	position: relative
	min-width: 1024px
	font-family: $font-family
	background-color: #FFF

@-moz-document url-prefix()
	body.is-modalview
		border: 1px solid transparent

a
	color: #0F292A
	outline: none

	&:hover
		color: #e83719
		text-decoration: none

b
	font-weight: bold

h1,
h2
	font-family: 'toyota_textregular', Arial, sans-serif

.wrap
	max-width: 1024px
	margin: 0 auto

.flex-row
	display: flex

$cols: 12
@for $i from 1 through $cols
	.col-#{$i}of#{$cols}
		width: 100% * $i / $cols

html, body
	height: 100%

.selector
	position: relative
	padding: 10px 35px 10px 13px
	background-color: #FFF
	background-clip: padding-box
	border-radius: 20px
	border: 3px solid rgba(255, 255, 255, 0.5)
	cursor: pointer
	font-size: 0.9rem

	&:before
		content: ''
		position: absolute
		top: 5px
		right: 10px
		border: 7px solid transparent
		border-bottom-color: #7AB355
		font-size: 0

	&.is-open:before
		top: 14px
		transform: rotate(180deg)

	&:hover
		border-color: rgba(147, 189, 70, 0.9)

	&.is-open
		border-top-left-radius: 0
		border-top-right-radius: 0

	&__dropdown
		display: none
		position: absolute
		bottom: 100%
		left: 0
		right: 0
		margin: 0 -3px
		padding: 10px 13px 0
		border: 3px solid rgba(147, 189, 70, 0.6)
		border-bottom: 0
		background-clip: padding-box
		background-color: #FFF
		border-radius: 20px 20px 0 0

	&.is-open &__dropdown
		display: block

	&__item
		margin-bottom: 12px

		&:hover
			color: #F0421C
