.gm-style-iw + div
	@include sprite($ico-close-green)
	filter: brightness(3)
	opacity: 1!important
	width: 35px!important
	height: 35px!important
	right: -5px!important

	&:hover
		opacity: 0.8!important

	img
		display: none

.balloon-tip
	margin-top: -10px

	&:before
		content: ''
		position: absolute
		top: 100%
		left: 50%
		margin-left: -15px
		border: 15px solid #7AB355
		border-color: #7AB355 transparent transparent transparent

	div
		display: none

.balloon-layout
	width: 250px
	background-color: #FFF
	border: 3px solid #7AB355
	border-radius: 10px
	font-size: 0.8rem
	overflow: hidden

	&__header
		height: 130px
		background-size: cover

	&__title
		margin: 10px
		font-weight: bold
		color: #86B433
		font-size: 0.9rem
		font-family: $font-family

	&__props
		padding: 0 10px 10px

	&__prop
		position: relative
		margin-bottom: 5px
		padding-left: 25px
		font-family: $font-family

		&:before
			content: ''
			position: absolute
			left: 6px
			top: 2px

		&.address
			&:before
				@include sprite($ico-geo-sm)

		&.metro
			&:before
				left: 3px
				@include sprite($ico-metro-sm)

		&.tel
			&:before
				@include sprite($ico-tel-sm)

		&.worktime
			&:before
				@include sprite($ico-time-sm)

	.close
		position: absolute
		right: -50px
		top: 0
		cursor: pointer
		filter: brightness(3)
		opacity: 0.7
		@include sprite($ico-close-green)
