.modal
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 100%
	z-index: 200
	background-color: #FFF

	&__close
		position: absolute
		right: 0
		top: 0
		width: 56px
		height: 56px
		background-color: #EEE

.section-list
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 100%

	&__item
		height: 100%