.primary-nav
	position: absolute
	left: 234px
	right: 60px
	display: flex
	justify-content: space-between
	height: 100%
	padding: 20px 20px 0 30px
	box-sizing: border-box

	&__item
		position: relative

		&:hover,
		&.is-active
			border-bottom: 5px solid #73A74F

			&:before
				content: ''
				position: absolute
				left: 50%
				bottom: 0
				transform: translate(-50%)
				font-size: 0
				line-height: 0
				border-style: solid
				border: 5px solid red
				border-color: transparent transparent #73A74F transparent

		a
			color: $link-color
			text-decoration: none

.switch-secondary-nav
	position: absolute
	top: 0
	left: 50%
	width: 55px
	height: 55px
	margin-left: 457px
	box-sizing: border-box
	background-color: #9EC655
	border: 0
	cursor: pointer
	outline: none
	z-index: 100
	text-align: center
	line-height: 52px

	span
		position: absolute
		top: 50%
		left: 50%
		width: 20px
		height: 2px
		margin: -2px 0 0 -10px
		background: #FFF
		font-size: 0

		&:before,
		&:after
			content: ''
			position: absolute
			left: 0
			width: 20px
			height: 2px
			background: #FFF
			font-size: 0
		&:before
			margin-top: -6px
		&:after
			margin-top: 6px

	&:hover
		span
			&:before
				margin-top: -7px
			&:after
				margin-top: 7px

	&:before
		content: ''
		display: inline-block
		width: 31px
		height: 31px
		border: 2px solid #FFF
		border-radius: 50%
		vertical-align: middle

.is-modalview .switch-secondary-nav
	span
		background: none

		&:before,
		&:after
			margin-top: 0
		&:before
			transform: rotate(45deg)
		&:after
			transform: rotate(-45deg)

.interactive-nav
	position: absolute
	right: 100%
	top: 0
	z-index: 3
	white-space: nowrap

	&__item
		position: relative
		display: inline-block
		margin-right: 10px
		width: 40px
		height: 40px
		background-color: #7AB700
		border-radius: 50%

		&:hover
			background-color: darken(#7AB700, 8%)

		&:before
			content: ''
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)

		&_cam:before
			@include sprite($ico-cam)

		&_360:before
			@include sprite($ico-360)

		&_home:before
			@include sprite($ico-home)

		&_red
			background-color: #FF4532

			&:hover
				background-color: darken(#FF4532, 8%)

.back-nav
	margin-bottom: 50px

	&__item
		margin-bottom: 15px

	a
		color: #FFF
		text-decoration: none

		&:hover
			color: #000
