*
	box-sizing: border-box

.rouble
	font-family: 'rouble'

.page-viewport
	overflow: hidden
	position: relative
	width: 100%
	height: 100%
	min-width: 1024px
	min-height: 650px

.page
	display: flex
	align-items: center
	position: relative
	width: 100%
	height: 100%
	padding: 55px 0 95px 0
	background-size: cover
	background-position: 50% 50%
	background-repeat: no-repeat

	&_bottom
		align-items: flex-end

	&__content
		position: relative
		width: 100%
		max-width: 1024px
		margin: 0 auto
		z-index: 1

		@media screen and (max-width: 1060px)
			padding: 0 15px

		h1
			margin-bottom: 50px
			color: #FFF
			font-size: 2.2rem
			font-family: 'toyota_textregular', sans-serif
			text-align: center

		.back-link
			margin-left: 100px
			color: #FFF
			text-decoration: none

			&:hover
				text-decoration: underline

.leaf-in-title
	position: relative

	&:before
		content: ''
		position: absolute
		left: -70px
		top: -10px
		width: 145px
		height: 68px
		background: url('/pic/design/leaf7.png') 0 0 no-repeat
		background-size: contain
		z-index: -1

.page-about
	background-image: url('/pic/design/back-8.jpg')

.page-mortage
	background-image: url('/pic/design/back-9.jpg')

.page-interchange
	background-image: url('/pic/design/back-1.jpg')

.page-flat
	background-image: url('/pic/design/back-2.jpg')

.page-floor
	background-image: url('/pic/design/back-2.jpg')

.page-param
	background-image: url('/pic/design/back-2.jpg')

.page-news-detail
	background-image: url('/pic/design/back-4.jpg')

.page-news
	background-image: url('/pic/design/back-4.jpg')

.page-construction
	background-image: url('/pic/design/back-4.jpg')

.page-participants
	background-image: url('/pic/design/back-1.jpg')

.page-documents
	background-image: url('/pic/design/back-6.jpg')

.page-404
	background-image: url('/pic/design/back-7.jpg')

.page-location
	.leaf
		position: absolute
		z-index: 1
	.leaf-1
		width: 190px
		bottom: 110px
		left: 50%
		margin-left: -525px
	.leaf-2
		width: 140px
		top: 50px
		right: 60px
		transform: rotate(-45deg)
