.pagination
	font-size: 0.8rem

	&_right
		margin-right: 15px
		text-align: right

	&__prev,
	&__next
		display: inline-block
		font-size: 1.3rem

	&__page
		display: inline-block
		padding: 0 8px
		border-right: 1px solid #FFF

		&.last
			border: 0

	a
		color: #FFF
		text-decoration: none

		&:hover
			color: #9BC551
			text-decoration: underline
