$ps-rail-hover: #eee;
$ps-bar-default: #333;
$ps-bar-hover: #999;
$ps-bar-width: 5px;

.scrollbar {
  position: relative;
}

.ps-container {
  -ms-touch-action: none;
  overflow: hidden !important;

  &.ps-active-y > .ps-scrollbar-y-rail {
    display: block;
  }


  >.ps-scrollbar-y-rail {
    display: none;
    position: absolute;
    width: $ps-bar-width;
    border-radius: 4px;
    transition: background-color .2s linear, opacity .2s linear;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    right: 10px;
    bottom: 0;

    >.ps-scrollbar-y {
      position: absolute;
      width: 20px;
      border: 1px solid #FFF;
      background-color: #7AB355;
      border-radius: 50%;
      transition: background-color .2s linear;
      right: -8px;
    }
    >.ps-scrollbar-y:before,
    >.ps-scrollbar-y:after {
    	content: '';
    	position: absolute;
    	left: 50%;
    	width: 6px;
    	height: 10px;
    	margin-left: -3px;
    	opacity: 0.2;
    }
    >.ps-scrollbar-y:before {
    	top: -10px;
    	background: linear-gradient(to top, #0f292a, transparent 100%)
    }
    >.ps-scrollbar-y:after {
    	bottom: -10px;
    	background: linear-gradient(to bottom, #0f292a, transparent 100%)
    }
  }
}
