.share

	&__button
		display: inline-block
		margin-right: 5px
		border-radius: 50%

		&_vk
			@include sprite($vk)
		&_vk:hover
			@include sprite($vk-active)
		&_fb
			@include sprite($fb)
		&_fb:hover
			@include sprite($fb-active)
		&_tw
			@include sprite($tw)
		&_tw:hover
			@include sprite($tw-active)
		&_g
			@include sprite($google)
		&_g:hover
			@include sprite($google-active)
		&_ok
			@include sprite($ok)
		&_ok:hover
			@include sprite($ok-active)
