%slick-stretch-vertical
	.slick-list,
	.slick-track
		height: 100%

%slick-arrow-navigation
	.next,
	.prev
		position: absolute
		top: 50%
		width: 55px
		margin-top: -30px
		padding: 10px 0
		background-color: #FFF
		z-index: 1
		cursor: pointer
		text-align: center

		&:before
			position: relative
			content: ''
			display: inline-block

	.next
		right: 0
		&:before
			@include sprite($arrow-next)
		&:hover:before
			right: -3px
	.prev
		left: 0
		&:before
			@include sprite($arrow-prev)
		&:hover:before
				left: -3px

.slick-dots
	li
		display: inline-block
		width: 15px
		height: 15px
		margin-right: 5px
		border-radius: 50%
		background-color: rgba(255, 255, 255, 0.5)
		cursor: pointer

		&:hover
			background-color: #9BC551

		&.slick-active
			background-color: #FFF


	button
		display: none
