.slider

	&__control
		display: inline-block
		width: 15px
		height: 15px
		margin-right: 5px
		border-radius: 50%
		background-color: rgba(255, 255, 255, 0.6)

		&.current
			background: #FFF

.index-page
	.slick-list,
	.slick-track
		height: 100%

	.slider
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		overflow: hidden
		background-color: #FFF

		video
			position: absolute
			left: 0
			top: 0

		&__item
			position: relative
			width: 200px
			height: 100%
			z-index: 3
			background-repeat: no-repeat
			background-position: 50% 50%
			background-size: cover
			overflow: hidden

			&_1
				background: #FFF
				video
					position: absolute
					left: 0
					top: 0
					min-width: 100%
					min-height: 100%

			&_2

				.parallax-part
					position: absolute
					background-repeat: no-repeat
					background-size: contain
					background-position: 0% 100%
					z-index: 1
				.parallax-part_1
					left: -5%
					bottom: -100px
					width: 80%
					height: 80%
					background-image: url(/pic/design/part-1.png)
				.parallax-part_2
					right: -5%
					top: -10%
					width: 50%
					height: 50%
					background-image: url(/pic/design/part-2.png)
					background-position: 100% 0
				.parallax-part_3
					right: 26.5%
					bottom: 29%
					width: 100px
					height: 100px
					background-image: url(/pic/design/part-3.png)
					background-position: 50% 50%
				.parallax-part_4
					right: 15%
					bottom: 0
					width: 300px
					height: 300px
					background-image: url(/pic/design/part-7.png)
					background-position: 50% 100%
				.parallax-part_5
					left: -5%
					top: 0
					width: 40%
					height: 35%
					background-image: url(/pic/design/part-5.png)
					background-position: 0 0
				.parallax-part_6
					right: -5%
					bottom: 0
					width: 40%
					height: 40%
					background-image: url(/pic/design/part-6.png)
					background-position: 50% 100%
				.parallax-part_7
					left: -2%
					top: -2%
					right: -2%
					bottom: -2%
					background-image: url('/pic/design/back-7.jpg')
					background-size: cover
					background-position: 50% 50%
					z-index: 0

			&_3
				background-image: url('/pic/design/slide-5.jpg')

				.leaf
					position: absolute
				.leaf:nth-child(1)
					top: -30px
					left: -30px
				.leaf:nth-child(2)
					width: 150px
					right: 13%
					top: 50%
				.leaf:nth-child(3)
					width: 150px
					left: 0
					bottom: 30%

			&_4
				background-image: url('/pic/design/back-8.jpg')

				.leaf
					position: absolute
				.leaf:nth-child(1)
					width: 110px
					top: 32%
					left: 0
				.leaf:nth-child(2)
					width: 110px
					top: 50%
					left: 10%
				.leaf:nth-child(3)
					width: 110px
					right: -40px
					top: 220px
				.blic
					position: absolute
					right: -3%
					top: -3%
					width: 50%
					height: 60%
					background: url('/pic/design/blic.png') 100% 0 no-repeat
					background-size: contain

		.slick-dots
			position: absolute
			top: 50%
			right: 50%
			margin-right: -216px
			margin-top: 145px
			z-index: 3
