.viewport
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	z-index: 1

	&__elements
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		z-index: 2

.price-arise-block
	position: absolute
	right: 0
	top: 90px
	width: 230px
	height: 64px
	padding-left: 68px
	box-sizing: border-box
	background-color: rgba(31, 45, 46, 0.7)
	border-radius: 35px 0 0 35px
	color: #FFF
	line-height: 55px
	text-transform: uppercase

	&:hover
		color: #FFF

	&__text
		display: inline-block
		font-size: 0.9rem
		font-weight: bold
		line-height: 64px
		white-space: nowrap

	&__num
		position: absolute
		top: 3.5px
		left: 3px
		width: 57px
		height: 57px
		background-color: #FFF
		border-radius: 50%
		box-sizing: border-box
		box-shadow: inset 0 0 0 2.3px #000
		border: 2px solid #FFF
		font-size: 2rem
		font-weight: bold
		color: #69A53D
		text-align: center
		line-height: 55px

		&:before
			content: ''
			position: absolute
			left: 0
			bottom: 0
			@include sprite($ico-leaf)

.mortage-shield
	position: absolute
	right: 19px
	top: 180px

.frame
	position: absolute
	left: 50%
	top: 50%
	width: 432px
	height: 270px
	margin-left: -216px
	margin-top: -135px
	background: url(/pic/design/frame.png) 0 0 no-repeat

	&__play-button
		position: absolute
		left: 50%
		top: 50%
		@include sprite($ico-play-big)
		transform: translate(-50%, -50%)
		cursor: pointer
		z-index: 3

	.svg-frame
		position: absolute
		left: 0
		top: 0
		width: 100%
		opacity: 0.6

		path
			stroke: #FFF

.frame-slider
	position: absolute
	left: 0
	top: 60px
	width: 490px
	margin-left: -295px

	&__item
		display: none
		text-align: center

	.letter
		display: inline

	&__text
		display: inline-block
		height: 110px
		padding: 15px
		background: rgba(31, 45, 46, 0.7)
		color: #FFF
		text-decoration: none
		font-size: 1.5rem
		text-align: left
		font-family: $font-family

		&:hover
			color: #FFF

	.small &__text
		font-size: 1.3rem

	&__title
		margin-bottom: 10px
		font-size: 2.3rem
		font-family: 'toyota_textregular', Arial, sans-serif

	.small &__title
		margin-bottom: 15px
		font-size: 2rem
