.video video {
	width: 100%;
	height: 100%;
}

.video-wrap {
  display: none
}

.vjs-caption-settings,
.vjs-error-display {
  display: none;
}

.vjs-default-skin {
  position: relative;
  color: #000;
}

.vjs-big-play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}
.vjs-big-play-button:before {
  content: '';
  display: block;
  @include sprite($ico-play-big);
}

.vjs-playing .vjs-big-play-button {
  display: none;
}

.vjs-default-skin .vjs-slider {
  outline: 0;
  position: relative;
  cursor: pointer;
  padding: 0;
  background-color: #FFF;
}

.vjs-default-skin .vjs-slider-handle {
  position: absolute;
  left: 0;
  top: 0;
}

.vjs-default-skin .vjs-slider-handle:before {
  content: "";
  text-align: center;
  text-shadow: 0em 0em 1em #fff;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-45deg);
}

.vjs-default-skin .vjs-control-bar {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3.0em;
  background-color: #07141e;
  background-color: rgba(255, 255, 255, 0.8);
}

.vjs-default-skin.vjs-has-started .vjs-control-bar {
  display: block;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.1s, opacity 0.1s;
}

.vjs-default-skin.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 1s;
}

.vjs-default-skin.vjs-controls-disabled .vjs-control-bar {
  display: none;
}
.vjs-default-skin.vjs-using-native-controls .vjs-control-bar {
  display: none;
}
.vjs-default-skin.vjs-error .vjs-control-bar {
  display: none;
}
.vjs-audio.vjs-default-skin.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
  opacity: 1;
  visibility: visible;
}
.vjs-default-skin .vjs-control {
  outline: none;
  position: relative;
  float: left;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 3.0em;
  width: 4em;
}
.vjs-default-skin .vjs-control:before {
  font-size: 1.5em;
  line-height: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.vjs-default-skin .vjs-control:focus:before,
.vjs-default-skin .vjs-control:hover:before {
  text-shadow: 0em 0em 1em #ffffff;
}
.vjs-default-skin .vjs-control-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.vjs-default-skin .vjs-play-control {
  width: 3em;
  background: #9EC655;
  cursor: pointer;
  line-height: 3em;
  text-align: center;
}
.vjs-default-skin .vjs-play-control:after {
  content: "";
  position: relative;
  top: 5px;
  display: inline-block;
  @include sprite($ico-play-small);
}
.vjs-default-skin .vjs-play-control.vjs-paused:after {
  @include sprite($ico-play-small);
}
.vjs-default-skin .vjs-play-control.vjs-playing:after {
  @include sprite($ico-pause);
}
.vjs-control-content {
  display: none;
}

.vjs-default-skin .vjs-playback-rate .vjs-playback-rate-value {
  font-size: 1.5em;
  line-height: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.vjs-default-skin .vjs-playback-rate.vjs-menu-button .vjs-menu .vjs-menu-content {
  width: 4em;
  left: -2em;
  list-style: none;
}

.vjs-default-skin .vjs-mute-control,
.vjs-default-skin .vjs-volume-menu-button {
  cursor: pointer;
  float: right;
}
.vjs-mute-control {
  opacity: 0.5;
}
.vjs-mute-control:hover {
  opacity: 1;
}
.vjs-mute-control:after {
  content: '';
  position: relative;
  top: 6px;
  display: inline-block;
  @include sprite($ico-sound);
}
.vjs-default-skin .vjs-volume-control {
  width: 5em;
  float: right;
  margin-right: 20px;
}
.vjs-default-skin .vjs-volume-bar {
  width: 5em;
  height: 0.6em;
  margin: 1.1em auto 0;
}
.vjs-default-skin .vjs-volume-level {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.6em;

  width: 100%;
  background: #9EC655;
}
.vjs-default-skin .vjs-volume-bar .vjs-volume-handle {
  width: 0.5em;
  height: 1.3em;
  top: -0.36em;
  left: 4.5em;
  background: #888;
  border-radius: 5px;
}
.vjs-default-skin .vjs-volume-handle:before {
  font-size: 0.9em;
  top: -0.2em;
  left: -0.2em;
  width: 1em;
  height: 1em;
}
.vjs-default-skin .vjs-volume-menu-button .vjs-menu {
  display: block;
  width: 0;
  height: 0;
  border-top-color: transparent;
}
.vjs-default-skin .vjs-volume-menu-button .vjs-menu .vjs-menu-content {
  height: 0;
  width: 0;
}
.vjs-default-skin .vjs-volume-menu-button:hover .vjs-menu,
.vjs-default-skin .vjs-volume-menu-button .vjs-menu.vjs-lock-showing {
  border-top-color: rgba(7, 40, 50, 0.5);
}
.vjs-default-skin .vjs-volume-menu-button:hover .vjs-menu .vjs-menu-content,
.vjs-default-skin .vjs-volume-menu-button .vjs-menu.vjs-lock-showing .vjs-menu-content {
  height: 2.9em;
  width: 10em;
}

.vjs-default-skin .vjs-progress-control {
  position: absolute;
  left: 60px;
  right: 18%;
  top: 18px;
  width: auto;
  font-size: 0.3em;
  height: 1.3em;
  transition: all 0.4s;
  border-radius: 10px;
}

.vjs-default-skin .vjs-progress-holder {
  height: 100%;
  border-radius: 20px;
}
.vjs-default-skin .vjs-progress-holder .vjs-play-progress,
.vjs-default-skin .vjs-progress-holder .vjs-load-progress,
.vjs-default-skin .vjs-progress-holder .vjs-load-progress div {
  position: absolute;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;

  width: 0;
  left: 0;
  top: 0;
}
.vjs-default-skin .vjs-play-progress {
  background: #7AB355;
  border-radius: 20px;
}
.vjs-default-skin .vjs-load-progress {
  background: #646464;
  background: rgba(255, 255, 255, 0.2);
}
.vjs-default-skin .vjs-load-progress div {
  background: #787878;
  background: rgba(255, 255, 255, 0.1);
}
.vjs-default-skin .vjs-seek-handle {
  width: 1.5em;
  height: 100%;
}
.vjs-default-skin .vjs-seek-handle:before {
  padding-top: 0.1em;
}

.vjs-default-skin .vjs-time-divider,
.vjs-default-skin .vjs-time-controls {
  display: none;
}

.vjs-default-skin .vjs-duration {
  display: block;
  position: absolute;
  right: 18%;
  top: 17px;
  margin-right: -70px;
  z-index: 10;
}

.vjs-time-controls .vjs-control-text {
  display: none;
}

.video-js {
  background-color: #000;
  position: relative;
  padding: 0;

  font-size: 10px;

  vertical-align: middle;

  font-weight: normal;
  font-style: normal;

  font-family: Arial, sans-serif;

  user-select: none;
}

.video-js .vjs-tech {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-js:-moz-full-screen {
  position: absolute;
}
body.vjs-full-window {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-y: auto;
}
.video-js.vjs-fullscreen {
  position: fixed;
  overflow: hidden;
  z-index: 1000;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
  _position: absolute;
}
.video-js:-webkit-full-screen {
  width: 100% !important;
  height: 100% !important;
}
.video-js.vjs-fullscreen.vjs-user-inactive {
  cursor: none;
}
.vjs-poster {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  background-color: #000000;
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.vjs-poster img {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  padding: 0;
  width: 100%;
}
.video-js.vjs-has-started .vjs-poster {
  display: none;
}
.video-js.vjs-audio.vjs-has-started .vjs-poster {
  display: block;
}
.video-js.vjs-controls-disabled .vjs-poster {
  display: none;
}
.video-js.vjs-using-native-controls .vjs-poster {
  display: none;
}
.video-js .vjs-text-track-display {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 3em;
  right: 0;
  pointer-events: none;
}
.vjs-hidden {
  display: none !important;
}
.vjs-lock-showing {
  display: block !important;
  opacity: 1;
  visibility: visible;
}

.vjs-live-controls {
  display: none;
}
