doctype html
html(lang='ru')
	include ../blocks/head
	body
		.page-viewport
			include ../blocks/header

			block content

			include ../blocks/footer
			include ../blocks/application

		include ../blocks/back-page
		include ../blocks/supplementary-content

		script(src='http://yastatic.net/jquery/2.1.4/jquery.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.js')
		script(src='/jscripts/bundle.js')
