section.application
	.app-form
		h1.app-form__title Отправить заявку
		form(action='.' method='POST').app-form__form
			.app-form__fieldset
				.app-form__field.is-required
					input(type='text' required=true).app-form__input
					label.app-form__label Имя
				.app-form__field.is-required
					input(type='text' required=true).app-form__input
					label.app-form__label Телефон
				.app-form__field
					textarea(type='text').app-form__textarea
					label.app-form__label Комментарий

			button(type='submit').app-form__submit
				.text Отправить
		.close.ico-close-white

	.application__back
