.switch-secondary-nav#back-nav-switch: span

.back-page
	ul.back-nav
		li.back-nav__item
			a(href='./about.html') О комплексе
		li.back-nav__item
			a(href='./location.html') Расположение
		li.back-nav__item
			a(href='./') Инфраструктура
		li.back-nav__item
			a(href='./genplan.html') Генплан
		li.back-nav__item
			a(href='./choose-param.html') Выбрать квартиру
		li.back-nav__item
			a(href='./mortage.html') Ипотека
		li.back-nav__item
			a(href='./interchange.html') Взаиомзачет
		li.back-nav__item
			a(href='./documents.html') Документы
		li.back-nav__item
			a(href='./news.html') Новости
		li.back-nav__item
			a(href='./participants.html') Участники строительства
		li.back-nav__item
			a(href='./construction.html') Ход строительства
		li.back-nav__item
			a(href='./contacts.html') Контакты

	.back-page__interactive
		a(href='#camera').ico.ico-cam.action-camera
		a(href='http://media.ndv.ru/virt_turs/romashkovo/').ico.ico-360-circle.action-360
		span.ico.ico-play.action-video

	.back-page__social
		a(href='http://vk.com/').ico.ico-vk
		a(href='http://facebook.com/').ico.ico-fb
