footer.footer
	.wrap.flex-row
		.col-6of12
			.footer__line
				.action-box.action-box_phone
					.action-box__text +7 (495) <b>988-44-22</b>
				a(href='/#').action-box.action-box_request
					.action-box__text.application-form Отправить заявку
			.footer__line
				.companies-list
					a(href='/').companies-list__item
						img(src='/pic/design/ndv-logo.png' alt='')
						span.companies-list__text Эксклюзивный<br> агент по реализации
					a(href='/').companies-list__item
						img(src='/pic/design/advis-logo.png' alt='')
						span.companies-list__text Проектная<br> организация
					a(href='/').companies-list__item
						img(src='/pic/design/stroiservice-logo.png' alt='')
						span.companies-list__text Генподрядчик
		.col-6of12
			.news
				h6.news__block-title
					a(href='/news/') Новости
				.news__list
					.news__item
						a(href='/news/detail/')
							.news__img
								img(src='/pic/design/news.jpg' width=80 height=80 alt='')
							.news__date 22/06/2015
							.news__text ЖК Новокосино и мкр. Новокосино-2: аренда новых торговых площадей
					.news__item
						a(href='/news/detail/')
							.news__img
								img(src='/pic/design/news.jpg' width=80 height=80 alt='')
							.news__date 23/06/2015
							.news__text ЖК Новокосино и мкр. Новокосино-2: аренда новых торговых площадей
					.news__item
						a(href='/news/detail/')
							.news__img
								img(src='/pic/design/news.jpg' width=80 height=80 alt='')
							.news__date 25/06/2015
							.news__text ЖК Новокосино и мкр. Новокосино-2: аренда новых торговых площадей
