head
	meta(charset='utf-8')
	meta(name='viewport' content='width=1024, minimal-ui')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	meta(name='imagetoolbar' content='no')
	meta(name='msthemecompatible' content='no')
	meta(name='cleartype' content='on')
	meta(name='HandheldFriendly' content='True')
	meta(name='format-detection' content='telephone=no')
	meta(name='format-detection' content='address=no')

	block head
	title= pageTitle

	link(href='/css/default.css' rel='stylesheet')
