header.header
	.wrap.header__wrap
		a(href='/index.html'): img(src='/pic/design/logo.png').header__logo
		nav.primary-nav
			.primary-nav__item
				a(href='/about.html') О проекте
			.primary-nav__item
				a(href='/location.html') Расположение
			.primary-nav__item
				a(href='/genplan.html') Генплан
			.primary-nav__item
				a(href='/choose-param.html') Квартиры
			.primary-nav__item
				a(href='/mortage.html') Ипотека
			.primary-nav__item
				a(href='/construction.html') Ход строительства
			.primary-nav__item
				a(href='/contacts.html') Контакты
