.video-wrap
	video(width='100%' height='100%' controls)#video.video.vjs-default-skin
		source(src='http://media.ndv.ru/video/novos/mitishi_rolik.mp4' type='video/mp4')
		source(src='http://media.ndv.ru/video/novos/mitishi_rolik.webm' type='video/webm')

.camera-wrap
	section#camera.camera-viewport
		nav.camera-viewport__nav
			ul.camera-switcher
				li(data-src='http://media.ndv.ru/static/14/krasnogorsk_5.html').camera-switcher__item.active
					b Камера 1
					span Корпус 1, 2, 3
				li(data-src='http://media.ndv.ru/static/14/krasnogorsk_5.html').camera-switcher__item
					b Камера 2
					span Корпус 4, 5, 6
		.camera-viewport__content
			iframe(src='about:blank' scrolling='no')
