.about-bubbles
	position: absolute
	right: 7%
	top: 45%
	transition: transform 0.3s
	z-index: 3

	.leaf
		position: absolute
		z-index: 5
		right: -80px
		bottom: 65px
		width: 157px

.about-bubble
	width: 450px
	height: 450px
	margin-top: -225px
	padding: 30px 30px
	box-sizing: border-box
	border-radius: 50%
	border: 10px solid rgba(255, 255, 255, 0.5)
	background-color: #FFF
	background-clip: padding-box
	text-align: center
	font-size: 0.9rem
	color: $text-color
	line-height: 1.1

	p+p
		margin-top: 10px

	.title
		margin-bottom: 10px
		font-size: 1.5rem
		color: #93BD46

	h2
		font-family: 'toyota_textregular', Arial, sans-serif
		margin-bottom: 10px
		font-size: 1.2rem
		color: #93BD46

	li
		margin-bottom: 15px
		padding-left: 10px

		&:before
			position: relative
			top: -2px
			content: ''
			display: inline-block
			width: 5px
			height: 5px
			margin-right: 5px
			margin-left: -11px
			border-radius: 50%
			background-color: #7AB355
			vertical-align: middle

	.col:nth-child(1)
		margin-right: 10px
		text-align: right

	.col:nth-child(2)
		margin-left: 10px
		text-align: left

	.flex-row
		margin-top: 10px

	.about-all-link
		position: relative
		display: inline-block
		margin-left: 45px
		border-bottom: 1px dashed #7AB355
		color: #7AB355
		cursor: pointer

		&:hover
			border-color: transparent

		&:before
			content: ''
			position: absolute
			left: -45px
			top: -7px
			@include sprite($ico-open)


.gallery-bubble
	position: absolute
	left: -100px
	bottom: 20px
	width: 163px
	height: 163px
	border-radius: 50%
	border: 10px solid #80AF2C
	background-color: #FFF
	cursor: pointer
	background: url(/pic/design/gallery.png) 50% 50% no-repeat

	&:before
		content: ''
		position: absolute
		width: 100%
		height: 100%
		background-color: #FFF
		opacity: 0.2
		border-radius: 50%

	&:hover:before
		display: none

	&__title
		position: absolute
		left: -2px
		top: 25px
		text-transform: uppercase
		z-index: 3
		text-indent: -9999px
		@include sprite($ico-gallery)

.slider-gallery
	display: none
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 100%
	z-index: 10

	&.is-open
		display: block
		opacity: 0
		transition: opacity 0.5s

	&.transition
		opacity: 1

	@extend %slick-stretch-vertical
	@extend %slick-arrow-navigation

	&__item
		position: relative
		height: 100%
		background-size: cover
		background-position: 50% 50%

	.close
		position: absolute
		right: 0
		top: 0
		z-index: 1

.slider-advantage
	display: none
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 100%
	z-index: 10

	@extend %slick-stretch-vertical
	@extend %slick-arrow-navigation

	&.is-open
		display: block
		opacity: 0
		transition: opacity 0.4s

	&.transition
		opacity: 1

	&__item
		position: relative
		height: 100%

	.close
		position: absolute
		right: 0
		top: 0
		z-index: 1000

.slider-advantage

	.panel
		line-height: 1.4

		.logo
			position: relative
			display: inline-block
			margin-bottom: 40px

			&:before
				content: ''
				position: absolute
				right: 0
				bottom: -15px
				width: 50px
				height: 5px
				background: #7AB355
				font-size: 0

			&_left:before
				left: 0
				right: auto

		h1
			margin-bottom: 20px
			color: #9BC551
			font-weight: bold
			font-size: 1.4rem
			font-family: 'toyota_textbold'

		p
			margin-bottom: 10px
			font-size: 0.9rem
			text-align: justify

		&__column
			display: flex
			align-items: center
			position: absolute
			top: 0
			width: 50%
			height: 100%
			box-sizing: border-box
			background-color: #FFF
			z-index: 1

			&_opaque
				background-color: rgba(255, 255, 255, 0.9)
			&_left
				left: 0
				padding: 0 30px 0 100px
				text-align: right
			&_right
				right: 0
				padding: 0 100px 0 30px
				text-align: left

	.image-slider
		width: 100%
		height: 100%

		&__item
			height: 100%
			background-size: cover
			background-position: 50% 50%
			background-repeat: no-repeat

		.slick-dots
			position: absolute
			left: 25%
			bottom: 20px
			transform: translateX(-50%)

		&_ctrl-right
			.slick-dots
				position: absolute
				left: auto
				right: 25%
				transform: translateX(50%)

	.map
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		background-color: #FFF

.image-preview
	display: flex
	flex-direction: column
	position: absolute
	left: 0
	top: 0
	width: 50%
	height: 100%
	color: #FFF
	line-height: 1
	font-weight: bold

	&__item
		width: 100%
		height: 50%
		background-size: cover

	&__title
		position: absolute

		span
			position: relative

		&:before
			content: ''
			position: absolute
			left: 0
			top: 0
			width: 500px
			height: 300px
			transform: translate(-30%, -40%)
			background: radial-gradient(closest-side, rgba(0, 0, 0, 0.65) 0, rgba(0, 0, 0, 0.6) 20%, transparent 90%)

		&_tr
			top: 20px
			right: 10px
			text-align: right
		&_bl
			bottom: 20px
			left: 10px

.text-slider
	position: absolute
	left: 10%
	top: 20%
	width: 300px
	color: #FFF
	outline: none
	font-weight: bold

	&:before
		content: ''
		position: absolute
		left: 50%
		top: 50%
		width: 347px
		height: 192px
		margin: -120px 0 0 -110px
		background: url('/pic/design/fog.png') 50% 50% no-repeat
		pointer-events: none

	&__item
		display: none
		font-size: 1.1rem
		cursor: pointer

		h6
			margin-bottom: 5px
			font-size: 1.5rem

	.slick-dots
		margin-top: 20px

		li
			margin-right: 7px

.about-parallax
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 100%
	pointer-events: none

	.layers
		width: 100%
		height: 100%
	.layer
		width: 100%
		height: 100%
	.leaf-1
		position: absolute
		left: -1%
		top: 35%
		width: 120px
	.leaf-2
		position: absolute
		left: 7%
		top: 52%
		width: 120px
	.leaf-3
		position: absolute
		right: -4%
		top: 15%
		width: 140px
	.flash
		position: absolute
		right: 0
		top: 0
		width: 720px
		height: 600px
		background: url(/pic/design/blic.png) 0 0 no-repeat
