.construction
	position: relative

	h1
		margin-bottom: 50px
		color: #FFF
		font-size: 2rem
		text-align: center

	.scrollbar
		position: relative
		min-height: 300px
		max-height: 50vh
		margin-bottom: 15px

		@media screen and (min-height: 1000px)
			max-height: 60vh

	.pagination
		margin: 20px 30px 0 0
		text-align: right

	.leaf
		position: absolute
		width: 120px
		bottom: -20px
		left: -30px

.construction-list
	overflow: hidden
	padding-right: 30px
	color: #FFF

	a
		color: #FFF

	.date
		position: absolute
		top: 50%
		left: 50%
		padding: 8px 15px
		background-color: rgba(31, 45, 46, 0.8)
		transform: translate(-50%, -50%)
		font-family: 'toyota_textregular', $font-family
		font-size: 1.2rem

	&__item
		display: inline-block
		position: relative
		width: 300px
		height: 300px
		margin-top: 20px
		margin-right: 40px
		border-radius: 50%
		border: 3px solid rgba(255, 255, 255, 0.6)
		overflow: hidden
		transition: box-shadow 0.3s

		&:nth-of-type(1),
		&:nth-of-type(2),
		&:nth-of-type(3)
			margin-top: 0

		@media screen and (max-width: 1080px)
			margin-right: 20px

		&:nth-child(3n + 3)
			margin-right: 0

		&:hover
			box-shadow: inset 0 0 0 20px rgba(255, 255, 255, 0.5)

		img
			position: relative
			max-width: 100%
			max-height: 100%
			min-width: 100%
			min-height: 100%
			z-index: -1

.construction-progress
	@extend .construction-list

	a
		color: #FFF

	&__item
		display: inline-block
		overflow: hidden
		position: relative
		width: 300px
		height: 300px
		margin-right: 25px
		margin-top: 20px
		background-clip: padding-box
		border-radius: 50%
		border: 3px solid rgba(255, 255, 255, 0.6)
		transition: box-shadow 0.4s

		&:nth-of-type(1),
		&:nth-of-type(2),
		&:nth-of-type(3)
			margin-top: 0

		@media screen and (max-width: 1080px)
			margin-right: 15px

		img
			max-width: 100%
			max-height: 100%
			min-width: 100%
			min-height: 100%

		&:hover:before
			content: ''
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			background-color: #FFF
			opacity: 0.7

		&:hover
			color: #000

	&__item:hover &__description
		display: block

	&__description
		display: none
		position: absolute
		top: 50%
		left: 30px
		right: 30px
		padding-bottom: 20px
		text-align: center
		font-size: 0.9rem
		line-height: 1.38
		transform: translateY(-50%)
		z-index: 1
		color: $text-color

		&:before
			content: ''
			position: absolute
			left: 50%
			bottom: -70px
			margin-left: -30px
			@include sprite($ico-zoom)

		&:after
			content: ''
			position: absolute
			left: 50%
			bottom: 0
			width: 110px
			height: 3px
			margin-left: -55px
			font-size: 0
			background-color: #9CC454
