.contact
	position: absolute
	right: 30px
	top: 88px
	z-index: 2

	p
		margin-bottom: 15px

	&.is-open
		.contact-bubble
			display: block
			opacity: 1
			pointer-events: all
			transform: scale(1)

	.leaf
		position: absolute
		left: 0
		top: -30px

	.close
		position: absolute
		top: 0
		right: 60px
		color: #FFF
		white-space: nowrap
		cursor: pointer

		&:before
			content: ''
			display: inline-block
			margin-right: 5px
			vertical-align: middle
			@include sprite($ico-open-back)

		&:hover:before
			@include sprite($ico-open-back-active)

		&:after
			content: 'Развернуть'
			vertical-align: middle
			border-bottom: 1px dashed
		&:hover:after
			border-color: transparent

	&.is-open
		.close:after
			content: 'Свернуть'

	&.is-open .close
		&:before
			@include sprite($ico-close-back)

		&:hover:before
			@include sprite($ico-close-back-active)

	.contact-list
		text-align: left
		margin: 0 0 20px 60px

		&__item
			position: relative
			margin-bottom: 10px
			padding-left: 20px

		&__item:before
			content: ''
			position: absolute
			left: 0
			top: 2px

		&__item_address:before
			@include sprite($ico-geo-sm)
		&__item_metro:before
			left: -2px
			@include sprite($ico-metro-sm)
		&__item_tel:before
			@include sprite($ico-tel-sm)
		&__item_time:before
			@include sprite($ico-time-sm)

.contact-bubble
	position: relative
	width: 452px
	height: 452px
	padding: 25px 50px
	box-sizing: border-box
	border-radius: 50%
	border: 10px solid rgba(255, 255, 255, 0.5)
	background-color: #FFF
	background-clip: padding-box
	opacity: 0
	transition: opacity 0.4s, transform 0.3s
	transform: scale(0.2)
	transform-origin: 80% 0
	pointer-events: none
	text-align: center
	font-size: 0.9rem
	color: #0F292A
	line-height: 1.2

	h1
		margin-bottom: 5px
		font-size: 1.5rem
		color: #93BD46

	h2
		font-size: 1.2rem
		color: #93BD46
		margin-bottom: 10px

.office-bubble
	position: absolute
	top: 0
	left: -103px
	width: 185px
	height: 185px
	overflow: hidden
	border-radius: 50%
	border: 10px solid #93BD46
	background-color: #FFF
	background-clip: padding-box
	cursor: pointer

.metro-selector
	position: absolute
	z-index: 2
	left: 50%
	bottom: 120px
	width: 230px
	margin-left: -512px

.contact-map
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 100%
