.document-section
	position: relative
	color: #FFF
	z-index: 3

	.scrollbar
		display: inline-block
		max-height: 55vh

	a
		color: #FFF
		text-decoration: none

	&__title
		position: relative
		width: 530px!important

		&:after
			content: ''
			position: absolute
			width: 135px
			height: 83px
			left: 50%
			top: -20px
			margin-left: -150px
			background: url('/pic/design/leaf9.png') 0 0 no-repeat
			z-index: -1

.document-list
	position: relative
	overflow: hidden
	width: 530px
	padding-right: 35px

	li

		&+li
			margin-top: 15px

		&:before
			content: ''
			display: inline-block
			margin-right: -72px
			border-radius: 50%
			vertical-align: middle
			@include sprite($ico-pdf-big)

	a
		display: inline-block
		margin-left: 85px
		vertical-align: middle

	span
		border-bottom: 1px dashed
		line-height: 1.3

		&:hover
			border: 0
