.flat
	position: relative
	display: flex
	max-width: 1024px
	margin: 0 auto
	padding: 15px
	background: transparentize(#FFF, 0.1)
	color: $text-grey-color

	&__content
		position: relative
		padding-bottom: 60px

		.genplan-button
			position: absolute
			bottom: 0

	&__image
		position: relative
		flex-shrink: 0
		width: 345px
		margin-right: 35px

		img
			width: 100%

		.ico-full
			position: absolute
			right: 0
			top: 0

	&__title
		margin-bottom: 10px
		font-size: 1.5rem
		color: #7AB154

	&__position
		margin-bottom: 13px
		font-size: 1.2rem

	&__social .share
		display: inline-block
		margin-left: 10px
		vertical-align: middle

	&__actions
		margin-bottom: 10px

		.action
			display: inline-block

	.leaf
		position: absolute
		right: 0
		top: 120px
		width: 90px

	.close
		position: absolute
		top: 0
		right: 0
		width: 55px
		height: 50px
		background-color: rgba(255, 255, 255, 0.95)
		font-size: 3.5rem
		color: #56AA82
		text-align: center
		line-height: 44px
		cursor: pointer
		text-decoration: none

		&:before
			content: ''
			display: inline-block
			@include sprite($ico-close-green)

.flat-data
	margin-bottom: 20px
	font-size: 0.9rem

	&__item
		margin-bottom: 4px
		padding-left: 10px

		&:before
			position: relative
			top: -2px
			margin: 0 5px 0 -10px
			@include bullet(6px, #9BC551)

.price-block
	margin-bottom: 30px

	&__label
		margin-bottom: 8px
		color: #7AB154

	&__num
		color: #FF0627
		font-size: 1.3rem
		font-weight: bold
