.floor
	display: flex
	position: relative
	padding: 15px
	background: transparentize(#FFF, 0.1)
	color: $text-grey-color

	&__content
		position: relative
		flex-grow: 1
		padding-bottom: 60px

		.genplan-button
			position: absolute
			bottom: 0

	&__image
		position: relative
		flex-shrink: 0
		width: 45%
		margin-right: 35px

		img
			width: 100%

		.compass
			position: absolute
			right: 0
			top: 0
			@include sprite($compass2)

	&__title
		margin-bottom: 10px!important
		font-size: 1.5rem!important
		color: #7AB154!important
		text-align: left!important

	.leaf
		position: absolute
		right: -40px
		top: 120px
		width: 90px

	.close
		position: absolute
		top: 0
		right: 0
		width: 55px
		height: 50px
		background-color: rgba(255, 255, 255, 0.95)
		font-size: 3.5rem
		color: #56AA82
		text-align: center
		line-height: 44px
		cursor: pointer
		text-decoration: none

		&:before
			content: ''
			display: inline-block
			@include sprite($ico-close-green)

.floor-data
	margin-top: 10px
	margin-bottom: 20px
	font-size: 0.9rem

	&__item
		margin-bottom: 4px
		padding-left: 10px

		&:before
			position: relative
			top: -2px
			margin: 0 5px 0 -10px
			@include bullet(6px, #9BC551)

.select-box
	display: inline-block
	margin-right: 30px
	vertical-align: middle

	&__text
		width: 80px
		height: 80px
		padding-top: 7px
		border: 2px solid #0F292A
		border-radius: 50%
		background: #FFF
		text-align: center
		color: #7AB154

	&__num
		font-size: 2.6rem

	&__next,
	&__prev
		margin: 0 auto
		width: 35px
		height: 35px
		border: 3px solid #7AB154
		cursor: pointer

	&__next
		border-bottom: 0
		border-left: 0

	&__prev
		border-bottom: 0
		border-right: 0

	&.vertical &__next
		margin-top: -10px
		transform: rotate(135deg)

	&.vertical &__prev
		margin-bottom: -10px
		transform: rotate(45deg)

	&.horizontal &__next,
	&.horizontal &__prev,
	&.horizontal &__text
		display: inline-block
		vertical-align: middle

	&.horizontal &__next
		margin-left: -12px
		transform: rotate(45deg)
	&.horizontal &__prev
		margin-right: -12px
		transform: rotate(-45deg)
