.interchange
	position: relative
	margin-top: 60px

	&__list
		display: flex
		justify-content: space-between

	&__item
		position: relative
		display: block
		width: 285px
		height: 285px
		padding-top: 35px
		box-sizing: border-box
		background-color: #FFF
		background-clip: padding-box
		border: 3px solid rgba(255, 255, 255, 0.7)
		border-radius: 50%
		text-align: center
		font-size: 0.9rem
		line-height: 1.25
		color: $text-color

		h2
			width: 150px
			margin: 0 auto 20px
			color: #7AB355
			font-size: 1.4rem
			font-family: 'toyota_textregular', sans-serif
			font-weight: normal
			line-height: 1.1

		p
			margin: 0 30px

		.image
			position: absolute
			background-color: #FFF
			border: 6px solid #93BD46
			border-radius: 50%

			img
				display: block

		.leaf
			position: absolute

		&:nth-child(1)
			.leaf
				width: 110px
				left: -65px
				bottom: -29px
				transform: rotate(-136deg)
				filter: contrast(1.25)

			.image
				right: -35px
				bottom: -25px

			.feedback-link
				position: absolute
				left: 50px
				bottom: 60px
				border-bottom: 1px dashed
				color: #7AB355
				text-decoration: none

				&:hover
					border-color: transparent

				&:before
					content: ''
					position: absolute
					left: -45px
					top: -6px
					display: inline-block
					@include sprite($ico-feedback)

				&:hover:before
					@include sprite($ico-feedback-active)

		&:nth-child(2)
			h2
				margin-left: 90px
				text-align: left
			.leaf
				width: 110px
				top: -33px
				right: -60px
				transform: rotate(39deg)
			.image
				left: -60px
				top: -20px

		&:nth-child(3)
			.leaf
				width: 100px
				bottom: 8px
				right: -70px
			.image
				left: -65px
				bottom: -20px

.page-interchange
	>.leaf
		position: absolute

	.leaf-1
		width: 130px
		left: 30%
		top: 130px

	.leaf-2
		width: 180px
		right: -30px
		top: 150px

	.leaf-3
		width: 150px
		left: -20px
		top: 140px
