.location
	position: absolute
	right: 30px
	top: 88px
	transition: transform 0.3s
	z-index: 3

	&.is-open
		.location-bubble
			display: block
			opacity: 1
			pointer-events: all
			transform: scale(1)

	.close
		position: absolute
		top: 0
		right: 60px
		color: #FFF
		white-space: nowrap
		cursor: pointer

		&:before
			content: ''
			display: inline-block
			margin-right: 5px
			vertical-align: middle
			@include sprite($ico-open-back)

		&:hover:before
			@include sprite($ico-open-back-active)

		&:after
			content: 'Развернуть'
			vertical-align: middle
			border-bottom: 1px dashed
		&:hover:after
			border-color: transparent

	&.is-open
		.close:after
			content: 'Свернуть'

	&.is-open .close
		&:before
			@include sprite($ico-close-back)

		&:hover:before
			@include sprite($ico-close-back-active)

.location-bubble
	position: relative
	width: 452px
	height: 452px
	padding: 25px 50px
	box-sizing: border-box
	border-radius: 50%
	border: 10px solid rgba(255, 255, 255, 0.5)
	background-color: #FFF
	background-clip: padding-box
	text-align: center
	font-size: 0.9rem
	color: #0F292A
	line-height: 1
	opacity: 0
	transition: opacity 0.4s, transform 0.3s
	transform: scale(0.2)
	transform-origin: 80% 0
	pointer-events: none

	h1
		margin-bottom: 5px
		font-size: 1.5rem
		color: #93BD46

	.leaf
		position: absolute
		left: 0
		top: -30px

.genplan-bubble
	position: absolute
	top: 0
	left: -103px
	width: 185px
	height: 185px
	border-radius: 50%
	border: 10px solid #93BD46
	background-color: #FFF
	background-clip: padding-box
	cursor: pointer
	overflow: hidden
	background: url(/pic/design/genplan.jpg) 50% 50% no-repeat

.location-map
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 100%

.location-method
	margin-top: 30px

	h2
		margin-bottom: 10px
		font-size: 1.2rem
		color: #93BD46

	&__item_car
		h2:before
			content: ''
			display: inline-block
			margin-right: 10px
			@include sprite($ico-car-green)
	&__item_public
		h2:before
			content: ''
			display: inline-block
			margin-right: 10px
			@include sprite($ico-transport-green)

	p+p
		margin-top: 10px

	&__item
		display: none

		&.is-open
			display: block

.route
	position: absolute
	z-index: 3
	bottom: 130px
	left: 50%
	margin-left: -455px
	font-size: 0.9rem

	&__label
		display: inline-block
		margin-right: 15px
		font-weight: bold
		font-size: 0.95rem
		color: #FFF
		vertical-align: middle

	&__item
		display: inline-block
		padding: 10px 13px
		background-color: #FFF
		background-clip: padding-box
		border-radius: 20px
		border: 3px solid rgba(255, 255, 255, 0.5)
		vertical-align: middle
		cursor: pointer

		&.is-active
			border-color: rgba(147, 189, 70, 0.9)

		&:hover
			border-color: rgba(147, 189, 70, 0.9)

.transport-type
	position: absolute
	left: 50%
	bottom: 20px
	transform: translateX(-50%)

	&__item
		display: inline-block
		width: 35px
		height: 35px
		margin-right: 5px
		border-radius: 50%
		background-color: #86B433
		border: 2px solid #86B433
		cursor: pointer
		line-height: 35px

		&:hover
			background-color: darken(#86B433, 6%)

		&.is-active
			background-color: #FFF

		&:before
			content: ''
			display: inline-block
		&_car:before
			@include sprite($ico-car-white)
		&_public:before
			@include sprite($ico-transport-white)
		&_car.is-active:before
			@include sprite($ico-car-green)
		&_public.is-active:before
			@include sprite($ico-transport-green)

