.mortage
	position: relative
	margin-bottom: 20px
	color: #FFF

	a
		color: #FFF

	&__title
		margin-left: 100px
		text-align: left!important

	&__actions
		margin-bottom: 20px
		padding-right: 32px

	.action
		display: inline-block
		margin-right: 15px
		vertical-align: middle

	.share
		float: right
		margin-right: 0

	&__content
		// display: flex
		// align-items: flex-start
		// height: 40vh
		// min-height: 350px
		position: relative
		padding-left: 330px

		.leaf
			position: absolute
			left: -30px
			bottom: -50px
			width: 15%

			@media screen and (min-height: 1000px)
				bottom: -15px

	&__selector
		position: absolute!important
		left: 0
		top: 0
		width: 310px
		box-sizing: border-box

	&__table
		flex-grow: 1

.get-mail
	position: relative

	&__input
		width: 160px
		padding: 8px 50px 8px 12px
		border: 2px solid #7ab154
		border-radius: 20px
		background-clip: padding-box
		outline: 0

	&__button
		position: absolute
		top: 2px
		bottom: 2px
		right: 2px
		width: 40px
		border-radius: 0 20px 20px 0
		background-color: #89B53A
		text-align: center
		line-height: 34px
		cursor: pointer

		&:hover
			background-color: darken(#89B53A, 10%)

		&:before
			content: ''
			display: inline-block
			@include sprite($ico-mail)

.mortage-selector
	position: relative
	min-height: 100px
	max-height: 40vh

	&.is-collapsed
		padding: 40px 0

	&__item
		height: 50px!important
		margin-bottom: 13px
		padding: 6px 0 0 25px
		box-sizing: border-box
		border: 2px solid #FFF
		border-radius: 30px
		background-color: #89B53A
		cursor: pointer

		&.is-active
			background-color: #FFF
			color: #0F292A

		&:hover
			background-color: #FFF
			color: #89B53A

	&__subtitle
		margin-top: 3px
		font-size: 0.9rem

	.next,
	.prev
		position: absolute
		left: 50%
		display: inline-block
		width: 35px
		height: 35px
		transform: translate(-50%) rotate(45deg)
		border: 3px solid #FFF
		cursor: pointer

	.prev
		top: 10px
		border-right-width: 0
		border-bottom-width: 0

	.next
		bottom: 10px
		border-top-width: 0
		border-left-width: 0

.mortage-table
	position: relative
	padding-top: 40px

	.scrollbar
		max-height: 300px

		@media screen and (max-height: 900px)
			height: 220px

		@media screen and (max-height: 800px)
			height: 160px

		@media screen and (max-height: 700px)
			height: 120px

		@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape)
			height: 240px

	&__head
		position: absolute
		top: 0
		left: 0
		right: 35px
		border: 2px solid #FFF
		background-color: rgba(0, 0, 0, 0.5)

	&__tab
		display: table-cell
		padding: 10px 15px
		cursor: pointer
		border-right: 2px solid transparent
		border-left: 2px solid transparent

		span
			border-bottom: 1px dashed

		&:hover
			background-color: rgba(0, 0, 0, 0.5)

			span
				border-bottom-color: transparent

		&.is-active
			border-right-color: #FFF
			border-left-color: #FFF
			background-color: rgba(137, 181, 58, 0.7)

			&:first-child.is-active
				border-left-color: transparent

			span
				border-bottom-color: transparent

	&__wrap
		margin-right: 35px

		// @media screen and (max-height: 650px)
		// 	height: 170px

	&__table
		display: none

		&.is-active
			display: block

		table
			width: 100%
			border-collapse: collapse
		tr:nth-child(odd)
			background-color: transparentize(#909d9e, 0.5)
		tr:nth-child(even)
			background-color: transparentize(#1f2d2e, 0.5)
		td
			border: 2px solid #FFF
			border-top: 0
			padding: 12px 15px
