.news-list
	position: relative

	@media screen and (max-width: 1040px)
		margin: 0 20px

	&__title
		margin-bottom: 30px
		color: #FFF
		font-size: 2.3rem
		text-align: center

	&__list
		display: flex
		flex-wrap: wrap
		justify-content: space-between

		&_wrap
			position: relative
			min-height: 300px
			max-height: 50vh
			margin-bottom: 20px
			padding-right: 30px

	&__item
		width: 48%
		height: 300px
		margin-bottom: 15px
		padding: 10px 15px
		box-sizing: border-box
		background-color: rgba(255, 255, 255, 0.7)
		vertical-align: top

	.leaf1
		position: absolute
		width: 150px
		left: -100px
		bottom: -50px

.news-item
	display: block
	position: relative
	text-decoration: none

	&__content
		padding-left: 170px

	&__title
		margin-bottom: 10px
		font-weight: bold
		color: #7BAF19
		font-size: 1.1rem
		font-family: $title-bold-font-family

	&__date
		margin-bottom: 10px
		font-size: 0.8rem
		color: #555
		font-weight: bold

	&__text
		font-size: 0.9rem
		line-height: 1.3
		color: $text-color

	&__media
		position: absolute
		left: 0
		top: 0
		width: 170px
		text-align: center
		color: #FFF

	&__image
		display: inline-block
		width: 150px
		height: 150px
		margin-bottom: 10px
		background-color: #FFF
		border-radius: 50%
		border: 3px solid #FFF
		overflow: hidden

	&:hover &__image
		border-color: #7BAF19

	&__read
		font-weight: bold

	&:hover &__read
		color: #7BAF19

.news
	padding-left: 15px
	color: #FFF

	a
		text-decoration: none
		color: #FFF

	&__item
		position: relative
		height: 90px
		padding-top: 10px
		padding-left: 90px

	&__item:hover &__text
		text-decoration: underline

	&__block-title
		position: relative
		display: inline-block
		width: 100px
		height: 95px
		line-height: 95px
		vertical-align: top
		font-size: 1.2rem

		& a:hover
			text-decoration: underline

		&:before
			content: ''
			position: absolute
			right: 8px
			top: 5px
			@include sprite($news-delim)

	&__list
		display: inline-block
		width: 390px

	&__date
		margin-bottom: 8px
		font-size: 0.8rem
		color: #9BC551

	&__text
		font-size: 0.9rem
		line-height: 1.25

	&__img
		position: absolute
		left: 0
		top: 5px
		width: 80px
		height: 80px
		border-radius: 50%
		overflow: hidden

.news-detail
	position: relative
	min-height: 320px
	margin-bottom: 15px
	padding: 15px 10px 10px 280px
	background: rgba(255, 255, 255, 0.8)

	&__image
		position: absolute
		left: 10px
		top: 10px
		width: 250px
		height: 250px
		border: 2px solid #FFF
		border-radius: 50%
		overflow: hidden

		img
			height: 100%

	&__date
		margin-bottom: 10px
		color: #B5B9BD
		font-weight: bold
		font-size: 0.85rem

	&__title
		margin-bottom: 10px
		color: #7BAF19
		font-weight: bold
		font-size: 1.2rem
		font-family: $title-bold-font-family

	&__content
		max-height: 300px
		padding-right: 20px

	&__text
		font-size: 0.9rem
		color: $text-color

		p
			margin-bottom: 10px
			line-height: 1.3

	.leaf
		position: absolute
		width: 150px
		left: -100px
		bottom: -80px

	.leaf1
		position: absolute
		width: 150px
		left: -100px
		bottom: -80px

	.leaf2
		position: absolute
		bottom: 100%
		left: 30%
		width: 110px
		margin-bottom: 40px
