.housemodbigs,
.kvbesestabsearch
	display: none

.param-section
	color: #FFF

	h1
		margin-bottom: 30px
		font-size: 2.4rem
		text-align: center

	&__content
		display: flex

	&__controls
		flex-shrink: 0
		width: 300px
		padding: 0 10px 0 15px
		box-sizing: border-box

	&__table
		flex-grow: 1
		position: relative

	.genplan-button
		position: absolute
		top: 0
		right: 30px

		@media screen and (max-width: 1050px)
			right: 45px

.param-table
	position: relative
	max-height: 45vh
	padding-right: 30px

	&_fixed
		margin-bottom: -1px

	&__content
		width: 100%
		border-collapse: collapse

		&.fixed
			position: absolute
			top: 0
			left: 0
			width: calc(100% - 30px)

	.sort
		position: absolute
		bottom: 10px
		left: 50%
		transform: translateX(-50%)
		cursor: pointer
		@include sprite($sort-down)

		&:hover
			@include sprite($sort-down-active)

	.desc
		.sort
			@include sprite($sort-up)

			&:hover
				@include sprite($sort-up-active)

	td, th
		border: 2px solid #FFF
		border-bottom: none
		padding: 15px 0
		text-align: center

		&:nth-child(1)
			width: 75px
		&:nth-child(2)
			width: 60px
		&:nth-child(3)
			width: 100px
		&:nth-child(4)
			width: 80px
		&:nth-child(5)
			width: 80px
		&:nth-child(6)
			width: 80px
		&:nth-child(7)
			width: 70px
		&:nth-child(8)
			width: 100px

	td
		font-size: 0.9rem

		&:nth-child(8)
			font-weight: bold

	th
		position: relative
		padding-bottom: 30px
		font-weight: bold
		border-bottom: 2px solid #FFF
		user-select: none

	tr
		position: relative
		background-color: rgba(31, 45, 46, 0.7)
		cursor: pointer

		&:nth-child(even)
			background-color: rgba(255, 255, 255, 0.3)

	tbody tr:hover
		td:first-of-type
			border-left: 2px solid #FF3232
		td:last-of-type
			border-right: 2px solid #FF3232
		td
			border-top: 2px solid #FF3232
			border-bottom: 2px solid #FF3232

.param-selector
	text-align: center

	input
		opacity: 0

	&_floor,
	&_rooms,
	&_price
		margin-bottom: 15px

	&_floor .irs-from:before
		content: ''
		position: absolute
		top: -3px
		right: -5px
		transform: scale(0.7)
		@include sprite($ico-leaf2)

	&_rooms .irs-to:before
		content: ''
		position: absolute
		top: -3px
		left: -3px
		transform: scale(0.75) rotate(290deg)
		@include sprite($ico-leaf2)

	&_price .irs-from:before
		content: ''
		position: absolute
		bottom: 3px
		left: -4px
		transform: scale(0.7)
		@include sprite($ico-leaf)

	&__title
		margin-top: 10px
		font-size: 0.9rem

.param-selector_corpus
	position: relative
	margin-bottom: 30px
	text-align: left

	.leaf
		position: absolute
		width: 100px
		left: -18px
		top: -25px
		z-index: -1

	ul, li
		display: inline-block
		vertical-align: middle

	ul
		margin-left: 5px

	li
		position: relative
		width: 40px
		height: 40px
		margin-right: 5px
		background-color: #95BC4F
		border: 2px solid #9BC551
		border-radius: 50%
		text-align: center
		line-height: 37px
		cursor: pointer
		font-size: 1.4rem

		&.is-active
			background-color: #FFF
			color: #000

			&:before
				content: ''
				position: absolute
				left: -6px
				bottom: -5px
				@include sprite($ico-leaf)
				transform: scale(0.7)

		&:hover
			background-color: #67A240
			color: #FFF
