.participants-list
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	min-height: 300px
	max-height: 37vh
	margin-right: 30px

	@media screen and (min-height: 1000px)
		max-height: 45vh

	&__item
		width: 48%
		margin-bottom: 20px

.participant
	position: relative
	min-height: 200px
	padding: 20px 10px 20px 195px
	background: rgba(255, 255, 255, 0.8)

	&.is-open
		height: auto

	&_imageoff
		padding-left: 20px

	&__title
		margin-bottom: 10px
		color: #649700
		font-size: 1.1rem

	&__text
		overflow: hidden
		height: 95px
		font-size: 0.9rem
		line-height: 1.3
		color: $text-color
		text-align: center

	&.is-open &__text
		height: auto

	&__image
		position: absolute
		left: 15px
		top: 15px
		overflow: hidden
		width: 172px
		height: 172px
		border-radius: 50%
		border: 5px solid #CCC
		background: #FFF

		img
			max-width: 100%

	.button-plus
		position: absolute
		right: 10px
		bottom: -10px
