/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path

  At the bottom of this section, we provide information about the spritesheet itself
  $spritesheet: width height image $spritesheet-sprites
  */
$leaf1-name: 'leaf1'
$leaf1-x: 0px
$leaf1-y: 0px
$leaf1-offset-x: 0px
$leaf1-offset-y: 0px
$leaf1-width: 275px
$leaf1-height: 226px
$leaf1-total-width: 517px
$leaf1-total-height: 372px
$leaf1-image: '/pic/design/leafs.png'
$leaf1: (0px, 0px, 0px, 0px, 275px, 226px, 517px, 372px, '/pic/design/leafs.png', 'leaf1', )
$leaf2-name: 'leaf2'
$leaf2-x: 0px
$leaf2-y: 226px
$leaf2-offset-x: 0px
$leaf2-offset-y: -226px
$leaf2-width: 171px
$leaf2-height: 146px
$leaf2-total-width: 517px
$leaf2-total-height: 372px
$leaf2-image: '/pic/design/leafs.png'
$leaf2: (0px, 226px, 0px, -226px, 171px, 146px, 517px, 372px, '/pic/design/leafs.png', 'leaf2', )
$leaf3-name: 'leaf3'
$leaf3-x: 275px
$leaf3-y: 0px
$leaf3-offset-x: -275px
$leaf3-offset-y: 0px
$leaf3-width: 242px
$leaf3-height: 116px
$leaf3-total-width: 517px
$leaf3-total-height: 372px
$leaf3-image: '/pic/design/leafs.png'
$leaf3: (275px, 0px, -275px, 0px, 242px, 116px, 517px, 372px, '/pic/design/leafs.png', 'leaf3', )
$spritesheet-width: 517px
$spritesheet-height: 372px
$spritesheet-image: '/pic/design/leafs.png'
$spritesheet-sprites: ($leaf1, $leaf2, $leaf3, )
$spritesheet: (517px, 372px, '/pic/design/leafs.png', $spritesheet-sprites, )

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

/*
  The `sprites` mixin generates identical output to the CSS template
    but can be overridden inside of SASS

  @include sprites($spritesheet-sprites)
  */
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
