.parallax-element
	position: absolute

.about-parallax
	.parallax-element
		transition: transform 0.2s

	.parallax-element:nth-child(1)
		left: -30px
		top: 220px

		.leaf
			width: 110px

	.parallax-element:nth-child(2)
		left: 80px
		top: 320px
		.leaf
			width: 120px

	.parallax-element:nth-child(3)
		right: -70px
		top: 100px

		.leaf
			width: 150px

.parallax-default

	.parallax-element_1
		left: 1%
		top: 100px
	.parallax-element_2
		right: 0
		top: 15%
	.parallax-element_3
		width: 150px
		right: 10%
		top: 25%

.parallax-documents

	.parallax-element_1
		left: 1%
		top: 100px
	.parallax-element_2
		right: 5%
		top: 8%
	.parallax-element_3
		right: 15%
		top: 32%
	.parallax-element_4
		right: 20%
		bottom: 20%
	.parallax-element_5
		left: 20%
		top: 20%

.parallax-construction

	.parallax-element_1
		left: 1%
		top: 100px
	.parallax-element_2
		right: 0
		top: 15%
	.parallax-element_3
		width: 150px
		right: 10%
		top: 25%

.parallax-mortage

	.parallax-element_1
		left: 1%
		top: 100px
	.parallax-element_2
		right: 0
		top: 35px
	.parallax-element_3
		width: 150px
		right: 0
		top: 140px

.parallax-interchange

	.parallax-element_1
		left: 1%
		top: 30%
	.parallax-element_2
		width: 150px
		right: 0
		top: 100px
	.parallax-element_3
		width: 150px
		left: 15%
		top: 110px
	.parallax-element_4
		right: 10%
		bottom: 8%

.parallax-participants

	.parallax-element_1
		left: 1%
		top: 30%
	.parallax-element_2
		right: 3%
		top: 15%

.parallax-flat

	.parallax-element_1
		left: 1%
		top: 100px
	.parallax-element_2
		left: 200px
		top: 200px
		width: 100px
	.parallax-element_3
		width: 100px
		bottom: 130px
		right: 100px
	.parallax-element_4
		width: 100px
		top: 130px
		right: 80px
