extends ./layouts/default

block head
	- pageTitle = 'О комплексе - ЖК Андреевка'

block content
	.page.page-about(data-type='about')

		main.about-bubbles(data-limit-y=0)
			.layer(data-depth=0.4)
				.about-bubble
					h1.title О комплексе
					p Особое внимание в проекте уделено<br> благоустройству территории: дворы будут спроектированы в соответствии с последними тенденциями

					.flex-row
						.col.col-6of12
							h2 Расположение
							p ЖК Андреевка представляет собой 4 жилых 17-этажных дома класса комфорт с собственной торговой инфраструктурой, детским садом на 60 мест, гостевой автостоянкой
							p ЖК Андреевка представляет собой 4 жилых 17-этажных
						.col.col-6of12
							h2 Преимущества
							ul
								li квартиры от 1.4 млн;
								li современный район;
								li моолитные дома комфорт-класса;
								li оригинальный дизайн входных групп;

							.about-all-link Все плюсы

				.gallery-bubble
					.gallery-bubble__title Галерея проекта

				.leaf: img(src='/pic/design/leaf18.png')

		.text-slider
			div(data-slide=1).text-slider__item
				h6 4 км от Зеленограда
				p 25 км от Москвы
			div(data-slide=2).text-slider__item
				h6 4 км от Зеленограда
				p 25 км от Москвы
			div(data-slide=3).text-slider__item
				h6 4 км от Зеленограда
				p 25 км от Москвы

		.parallax-container.about-parallax
			.layers
				.layer(data-depth=0.3)
					.leaf.leaf-1: img(src='/pic/design/leaf1.png')
				.layer(data-depth=0.21)
					.leaf.leaf-2: img(src='/pic/design/leaf2.png')
				.layer(data-depth=0.33)
					.leaf.leaf-3: img(src='/pic/design/leaf3.png')
				.layer(data-depth=0.15)
					.flash

		.slider-advantage
			.slider-advantage__item
				section.panel
					.panel__column.panel__column_opaque.panel__column_left
						.panel__content
							.logo: img(src='/pic/design/logo-transparent.png' alt='Жилой комплекс Андреевка')
							h1 4 км от Зеленограда<br> 25 км от Москвы
							p ЖК «Андреевка» представляет собой 4 жилых 17-этажных дома класса «комфорт» с собственной торговой инфраструктурой, детским садом на 60 мест, гостевой автостоянкой. В комплексе
							p Особое внимание в проекте уделено благоустройству территории: дворы будут спроектированы в соответствии с актуальными тенденциями ландшафтного дизайна и освещения, здесь появится большое количество деревьев и кустарников, скамеек, зон отдыха и ярких детских площадок. Проезды будут вымощены брусчаткой, а пешеходные дорожки — тротуарной плиткой.
				#map.map
			.slider-advantage__item
				section.panel
					.panel__column.panel__column_opaque.panel__column_right
							.panel__content
								.logo.logo_left: img(src='/pic/design/logo-transparent.png' alt='Жилой комплекс Андреевка')
								h1 4 км от Зеленограда<br> 25 км от Москвы
								p ЖК «Андреевка» представляет собой 4 жилых 17-этажных дома класса «комфорт» с собственной торговой инфраструктурой, детским садом на 60 мест, гостевой автостоянкой. В комплексе
								p Особое внимание в проекте уделено благоустройству территории: дворы будут спроектированы в соответствии с актуальными тенденциями ландшафтного дизайна и освещения, здесь появится большое количество деревьев и кустарников, скамеек, зон отдыха и ярких детских площадок. Проезды будут вымощены брусчаткой, а пешеходные дорожки — тротуарной плиткой.
				.image-slider
					.image-slider__item(style='background-image: url(/pic/design/slide-1.jpg)')
					.image-slider__item(style='background-image: url(/pic/design/slide-2.jpg)')
			.slider-advantage__item
				section.panel
					.panel__column.panel__column_right
						.panel__content
							.logo.logo_left: img(src='/pic/design/logo-transparent.png' alt='Жилой комплекс Андреевка')
							h1 4 км от Зеленограда<br> 25 км от Москвы
							p ЖК «Андреевка» представляет собой 4 жилых 17-этажных дома класса «комфорт» с собственной торговой инфраструктурой, детским садом на 60 мест, гостевой автостоянкой. В комплексе
							p Особое внимание в проекте уделено благоустройству территории: дворы будут спроектированы в соответствии с актуальными тенденциями ландшафтного дизайна и освещения, здесь появится большое количество деревьев и кустарников, скамеек, зон отдыха и ярких детских площадок. Проезды будут вымощены брусчаткой, а пешеходные дорожки — тротуарной плиткой.
					.image-preview
						.image-preview__item(style='background-image: url(/pic/design/slide-5.jpg)')
							.image-preview__title.image-preview__title_tr
								span Текст описания<br> в две строки
						.image-preview__item(style='background-image: url(/pic/design/slide-5.jpg)')
							.image-preview__title.image-preview__title_bl
								span Текст описания<br> в две строки
			.close.ico-close-green

		.slider-gallery
			.slider-gallery__item(style='background-image: url(/pic/design/slide-1.jpg)')
			.slider-gallery__item(style='background-image: url(/pic/design/slide-2.jpg)')
			.slider-gallery__item(style='background-image: url(/pic/design/slide-3.jpg)')
			.close.ico-close-green
