extends ./layouts/default

block head
	- pageTitle = 'Подбор параметров - ЖК Андреевка'

block content
	.page.page-param(data-type='param')

		main.page__content
			h1
				span.leaf-in-title Заголовок
			.param-section
				.param-section__content
					.param-section__controls
						.param-selector.param-selector_corpus
							b Корпус:
							ul
								li.is-active 1
								li 2
								li 3
								li 4
							.leaf: img(src='/pic/design/leaf14.png' alt='')
						.param-selector.param-selector_floor
							input(type='text')#range1
							.param-selector__title Этаж
						.param-selector.param-selector_rooms
							input(type='text')#range2
							.param-selector__title Кол-во комнат
						.param-selector.param-selector_price
							input(type='text')#range3
							.param-selector__title Цена млн. <span class="rouble">i</span>
					.param-section__table
						.param-table.param-table_fixed
							table(cellspacing=0 cellpadding=0).param-table__content
								thead
									tr
										th(data-sort=0).asc
											| Секция
											.sort
										th(data-sort=1)
											| Этаж
											.sort
										th(data-sort=2)
											| Условный номер
											.sort
										th(data-sort=3)
											| Номер<br> на этаже
											.sort
										th(data-sort=4)
											| Кол-во комнат
											.sort
										th(data-sort=5)
											| Площадь, м2
											.sort
										th(data-sort=6)
											| Ст-ть за м2
											.sort
										th(data-sort=7)
											| Общая стоимость
											.sort
						.param-table.scrollbar
							table(cellspacing=0 cellpadding=0).param-table__content.sort-table
								tbody
								- var n = 0
								while n < 20
									- n += 1
									tr(onclick="document.location='?id=227301&build=2235';")
										- var rnd = Math.floor(Math.random() * 10) + 1
										td #{rnd}
										- var rnd = Math.floor(Math.random() * 10) + 1
										td #{rnd}
										- var rnd = Math.floor(Math.random() * 100)
										td #{rnd}
										- var rnd = Math.floor(Math.random() * 10) + 1
										td #{rnd}
										- var rnd = Math.floor(Math.random() * 100)
										td #{rnd}
										- var rnd = Math.floor(Math.random() * 100)
										td #{rnd}
										- var rnd = Math.floor(Math.random() * 10000)
										td #{rnd}
										td <b>1 123 300</b>
				.genplan-button(data-href='http://www.stroyindustriya.ru/sites/default/files/styles/large/public/plan/genplan.jpg?itok=PGmC1a9o')
					.ico-compass
					span Смотреть генплан

		.parallax-container.parallax-default
			.parallax-element.parallax-element_1(data-speed=0.02)
				.leaf: img(src='/pic/design/leaf6.png')
			.parallax-element.parallax-element_2(data-speed=0.05)
				.leaf: img(src='/pic/design/leaf6.png')
			.parallax-element.parallax-element_3(data-speed=0.09)
				.leaf: img(src='/pic/design/leaf10.png')

	script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
	script(src='http://andreevka.ndv.ru/jscripts/ion.rangeSlider.min.js')
	script.
		$("#range1").ionRangeSlider({
			    type: "double",
				min: 2,
				max: 10,
			    hide_min_max: true,
			    hide_from_to: false,
			    grid: false,
			    values_separator: ';',
				onChange: function onChange(data) {
					sorting.filter(2, data.from, data.to);
				}
			});
			$("#range2").ionRangeSlider({
			    type: "double",
				min: 2,
				max: 5,
			    hide_min_max: true,
			    hide_from_to: false,
			    grid: false,
			    values_separator: ';',
				onChange: function onChange(data) {
					sorting.filter(4, data.from, data.to);
				}
			});
			$("#range3").ionRangeSlider({
			    type: "double",
				min: 10,
				max: 20,
			    hide_min_max: true,
			    hide_from_to: false,
			    grid: false,
			    values_separator: ';',
				onChange: function onChange(data) {
					sorting.filter(7, data.from, data.to);
				}
			});
