extends ./layouts/default

block head
	- pageTitle = 'Ход строительства - ЖК Андреевка'

block content
	.page.page-construction(data-type='construction')

		main.page__content
			h1
				span.leaf-in-title Ход строительства
			.construction
				.scrollbar
					.construction-list
						a(href='./construction-detail.html').construction-list__item
							img(src='http://media.ndv.ru/pic/base_novos/27928-mprev.jpg')
							time.date 22/09/15
						a(href='./construction-detail.html').construction-list__item
							img(src='http://media.ndv.ru/pic/base_novos/27928-mprev.jpg')
							time.date 22/09/15
						a(href='./construction-detail.html').construction-list__item
							img(src='http://media.ndv.ru/pic/base_novos/27928-mprev.jpg')
							time.date 22/09/15
						a(href='./construction-detail.html').construction-list__item
							img(src='http://media.ndv.ru/pic/base_novos/27928-mprev.jpg')
							time.date 22/09/15
						a(href='./construction-detail.html').construction-list__item
							img(src='http://media.ndv.ru/pic/base_novos/27928-mprev.jpg')
							time.date 22/09/15
						a(href='./construction-detail.html').construction-list__item
							img(src='http://media.ndv.ru/pic/base_novos/27928-mprev.jpg')
							time.date 22/09/15
						a(href='./construction-detail.html').construction-list__item
							img(src='http://media.ndv.ru/pic/base_novos/27928-mprev.jpg')
							time.date 22/09/15
						a(href='./construction-detail.html').construction-list__item
							img(src='http://media.ndv.ru/pic/base_novos/27928-mprev.jpg')
							time.date 22/09/15
				.pagination
					span.pagination__prev: a(href='/') &laquo;
					span.pagination__page: a(href='/') 1
					span.pagination__page: a(href='/') 2
					span.pagination__page: a(href='/') 3
					span.pagination__page.last: a(href='/') 4
					span.pagination__next: a(href='/') &raquo;

				.leaf: img(src='/pic/design/leaf1.png' alt='')

		.parallax-container.parallax-construction
			.parallax-element.parallax-element_1(data-speed=0.02)
				.leaf: img(src='/pic/design/leaf6.png')
			.parallax-element.parallax-element_2(data-speed=0.05)
				.leaf: img(src='/pic/design/leaf6.png')
			.parallax-element.parallax-element_3(data-speed=0.09)
				.leaf: img(src='/pic/design/leaf10.png')
