extends ./layouts/default

block head
	- pageTitle = 'Ход строительства - ЖК Андреевка'

block content
	.page.page-construction(data-type='construction-detail')

		main.page__content
			h1
				span.leaf-in-title 22/09/2015 г.
			.construction
				.scrollbar
					.construction-progress
						a(href='http://media.ndv.ru/pic/base_novos/27928-mprev.jpg' title='Корпус 14: завершение монолитных работ' rel='fancybox').construction-progress__item
							img(src='http://media.ndv.ru/pic/base_novos/27928-mprev.jpg')
							.construction-progress__description Корпус 14: завершение монолитных работ
						a(href='http://media.ndv.ru/pic/base_novos/27928-mprev.jpg' title='Корпус 14: завершение монолитных работ' rel='fancybox').construction-progress__item
							img(src='http://media.ndv.ru/pic/base_novos/27928-mprev.jpg')
							.construction-progress__description Корпус 14: завершение монолитных работ
						a(href='http://media.ndv.ru/pic/base_novos/27928-mprev.jpg' title='Корпус 14: завершение монолитных работ' rel='fancybox').construction-progress__item
							img(src='http://media.ndv.ru/pic/base_novos/27928-mprev.jpg')
							.construction-progress__description Корпус 14: завершение монолитных работ
						a(href='http://media.ndv.ru/pic/base_novos/27928-mprev.jpg' title='Корпус 14: завершение монолитных работ' rel='fancybox').construction-progress__item
							img(src='http://media.ndv.ru/pic/base_novos/27928-mprev.jpg')
							.construction-progress__description Корпус 14: завершение монолитных работ
						a(href='http://media.ndv.ru/pic/base_novos/27928-mprev.jpg' title='Корпус 14: завершение монолитных работ' rel='fancybox').construction-progress__item
							img(src='http://media.ndv.ru/pic/base_novos/27928-mprev.jpg')
							.construction-progress__description Корпус 14: завершение монолитных работ
						a(href='http://media.ndv.ru/pic/base_novos/27928-mprev.jpg' title='Корпус 14: завершение монолитных работ' rel='fancybox').construction-progress__item
							img(src='http://media.ndv.ru/pic/base_novos/27928-mprev.jpg')
							.construction-progress__description Корпус 14: завершение монолитных работ
				.leaf: img(src='/pic/design/leaf1.png' alt='')
			a(href='/').back-link &laquo; Назад

		.parallax-container.parallax-construction
			.parallax-element.parallax-element_1(data-speed=0.02)
				.leaf: img(src='/pic/design/leaf6.png')
			.parallax-element.parallax-element_2(data-speed=0.05)
				.leaf: img(src='/pic/design/leaf6.png')
			.parallax-element.parallax-element_3(data-speed=0.09)
				.leaf: img(src='/pic/design/leaf10.png')
