extends ./layouts/default

block head
	- pageTitle = 'Контакты - ЖК Андреевка'

block content
	.page.page-location(data-type='contacts')

		main.contact.is-open
			.contact-bubble
				h1 Контакты
				p На объекте открыт<br> комфортабельный офис продаж

				.contact-list
					.contact-list__item.contact-list__item_address ул. 800-летия Москвы, д. 107, стр. 48
					.contact-list__item.contact-list__item_metro Октябрьское поле
					.contact-list__item.contact-list__item_tel +7 (495) <b>988-44-22</b>
					.contact-list__item.contact-list__item_time 9:00 - 20:00 / ежедневно

				h2 Служба показов
				p Глебов Денис: +7 (968) <b>971-77-88</b>
				p Главатских Сергей: +7 (916) <b>794-34-43</b>
				p В офисе вам все покажут, напоят чаем, стоит приехать.

				a(href='http://www.ndv.ru/pic/office/5533-mprev.jpg').office-bubble
					img(src='http://www.ndv.ru/pic/office/5533-mprev.jpg' alt='Фото офиса')

				.leaf: img(src='/pic/design/leaf5.png')

			.close

		.metro-selector.selector
			.selector__label Выберите станцию метро
			.selector__dropdown


		#contact-map.contact-map

		.leaf.leaf-2: img(src='/pic/design/leaf2.png')
