extends ./layouts/default

block head
	- pageTitle = 'О комплексе - ЖК Андреевка'

block content
	.page.page-documents(data-type='documents')

		main.page__content
			.document-section
				h1.document-section__title Документы
				.scrollbar
					.document-list
						ul
							li
								a(href='/docs/') <span>Разрешение на строительство</span>
							li
								a(href='/docs/') <span>Положительное заключение негосударственной экспертизы</span>
							li
								a(href='/docs/') <span>Проектная декларация</span>
							li
								a(href='/docs/') <span>Положительное заключение негосударственной экспертизы</span>
							li
								a(href='/docs/') <span>Положительное заключение негосударственной экспертизы</span>
							li
								a(href='/docs/') <span>Положительное заключение негосударственной экспертизы</span>
							li
								a(href='/docs/') <span>Положительное заключение негосударственной экспертизы</span>

		.parallax-container.parallax-documents
			.parallax-element.parallax-element_1(data-speed=0.02)
				.leaf: img(src='/pic/design/leaf6.png')
			.parallax-element.parallax-element_2(data-speed=0.06)
				.leaf: img(src='/pic/design/leaf10.png')
			.parallax-element.parallax-element_3(data-speed=0.02)
				.leaf: img(src='/pic/design/leaf4.png')
			.parallax-element.parallax-element_4(data-speed=0.05)
				.leaf: img(src='/pic/design/leaf5.png')
