extends ./layouts/default

block head
	- pageTitle = 'Выбранная квартира - ЖК Андреевка'

block content
	.page.page-flat(data-type='flat')

		main.flat
			.flat__image
					img(src='http://www.ptg-development.ru/files/kvartira/ener_inner.png' alt='')
					a(href='http://www.ptg-development.ru/files/kvartira/ener_inner.png' rel='fancybox').ico-full
			.flat__content
				h1.flat__title Информация о квартире
				.flat__position Корпус 1 / Секция 1 / 6 этаж
				.flat__data.flat-data
					.flat-data__item 207 № квартиры
					.flat-data__item 2 количество комнат
					.flat-data__item 58 площадь кв. метров
				.flat__price.price-block
					.price-block__label Общая стоимость
					.price-block__num 1&nbsp;345&nbsp;789 руб.

				.flat__actions
					a(href='/').link-print.link-print_green.action <span>Распечатать</span>
					a(href='/').link-pdf.link-pdf_green.action <span>PDF</span>
					.get-mail.action
							input(type='text' placeholder='Email').get-mail__input
							.get-mail__button

				.flat__social
					| Поделиться:
					.share
						a(href='/').share__button.share__button_vk
						a(href='/').share__button.share__button_fb
						a(href='/').share__button.share__button_tw
						a(href='/').share__button.share__button_g
						a(href='/').share__button.share__button_ok

				a(href='http://www.ptg-development.ru/files/kvartira/ener_inner.png').genplan-button
					.ico-compass
					span Смотреть генплан

			.leaf: img(src='/pic/design/leaf13.png' alt='')
			.close

		.parallax-container.parallax-flat
			.parallax-element.parallax-element_1(data-speed=0.02)
				.leaf: img(src='/pic/design/leaf6.png')
			.parallax-element.parallax-element_2(data-speed=0.05)
				.leaf: img(src='/pic/design/leaf15.png')
			.parallax-element.parallax-element_3(data-speed=0.09)
				.leaf: img(src='/pic/design/leaf8.png')
			.parallax-element.parallax-element_4(data-speed=0.001)
				.leaf: img(src='/pic/design/leaf11.png')
