extends ./layouts/default

block head
	- pageTitle = 'Выбранный этаж - ЖК Андреевка'

block content
	.page.page-floor(data-type='floor')

		main.page__content
			.floor
				.floor__image
						img(src='/pic/design/floor-plan.png' alt='')
						.compass
				.floor__content
					h1.floor__title Корпус 1 / Секция 2
					| Информация о квартире
					.floor__data.floor-data
						.floor-data__item 207 № квартиры
						.floor-data__item 2 количество комнат
						.floor-data__item 58 площадь кв. метров
						.floor-data__item <b>8 803 878</b> стоимость руб.

					.floor-param
						.select-box.vertical
							.select-box__prev
							.select-box__text
								.select-box__num 12
								.select-box__label этаж
							.select-box__next
						.select-box.horizontal
							.select-box__prev
							.select-box__text
								.select-box__num 4
								.select-box__label секция
							.select-box__next

					a(href='http://www.ptg-development.ru/files/kvartira/ener_inner.png').genplan-button
						.ico-compass
						span Смотреть генплан

				.leaf: img(src='/pic/design/leaf13.png' alt='')
				.close

		.parallax-container.parallax-flat
			.parallax-element.parallax-element_1(data-speed=0.02)
				.leaf: img(src='/pic/design/leaf6.png')
			.parallax-element.parallax-element_2(data-speed=0.05)
				.leaf: img(src='/pic/design/leaf15.png')
			.parallax-element.parallax-element_3(data-speed=0.09)
				.leaf: img(src='/pic/design/leaf8.png')
			.parallax-element.parallax-element_4(data-speed=0.01)
				.leaf: img(src='/pic/design/leaf11.png')
