extends ./layouts/default

block head
	- pageTitle = 'Генплан - ЖК Андреевка'

block content
	.page.page-genplan(data-type='genplan')

		main.plan
			.tooltip.tooltip_1
				.tooltip__content 1к
			.tooltip.tooltip_2
				.tooltip__content 2к
			.tooltip.tooltip_3
				.tooltip__content 3к
			.tooltip.tooltip_4
				.tooltip__content 4к

			.tooltip-small.tooltip-small_1
				.tooltip-small__content: .ico.ico-parking
			.tooltip-small.tooltip-small_2
				.tooltip-small__content: .ico.ico-kinder
			.tooltip-small.tooltip-small_3
				.tooltip-small__content: .ico.ico-fitness
			.tooltip-small.tooltip-small_4
				.tooltip-small__content: .ico.ico-abc

		.plan-compass
