extends ./layouts/default

block head
	- pageTitle = 'ЖК Андреевка'

block content
	.page.index-page(data-type='index')

		section.viewport

			.viewport__elements
				a(href='/').mortage-shield: img(src='/pic/design/mortage-shield.png' alt='Ипотека с господдержкой')

				a(href='/').price-arise-block
					b.price-arise-block__num 30
					span.price-arise-block__text дней до роста цен

				.frame
					nav.interactive-nav
						a(href='#camera').interactive-nav__item.interactive-nav__item_cam
						a(href='http://media.ndv.ru/virt_turs/romashkovo/').interactive-nav__item.interactive-nav__item_360
						a(href='/').interactive-nav__item.interactive-nav__item_red.interactive-nav__item_home

					.frame-slider
						.frame-slider__item
							a(href='/').frame-slider__text
								h6.frame-slider__title <img class="letter" src="/pic/design/lt-D.svg" width="38" height="29" alt="Д">оступная цен<img class="letter" src="/pic/design/lt-a.svg" width="28" height="27" alt="а">
								| Квартиры от <b>1,9 млн. <span class="rouble">i</span></b>
						.frame-slider__item
							a(href='/').frame-slider__text
								h6.frame-slider__title <img class="letter" src="/pic/design/lt-V.svg" width="28" height="39" alt="В">близи лес<img style="margin-left: 2px" class="letter" src="/pic/design/lt-a.svg" width="28" height="27" alt="а">
								| Окруженный озерами
						.frame-slider__item.small
							a(href='/').frame-slider__text
								h6.frame-slider__title <img class="letter" src="/pic/design/lt-P.svg" width="32" height="25" alt="Р">азвитая инфраструктур<img class="letter" src="/pic/design/lt-a.svg" width="22" height="22" alt="а">
								| Школы, детские сады, стадионы

		section.viewport__slides.slider
			.slider__item.slider__item_4
				.leaf.parallax-element(data-speed=0.09): img(src='/pic/design/leaf14.png')
				.leaf.parallax-element(data-speed=0.04): img(src='/pic/design/leaf13.png')
				.leaf.parallax-element(data-speed=0.01): img(src='/pic/design/leaf14.png')
				.blic.parallax-element(data-speed=0.01)
			.slider__item.slider__item_2
				.parallax-part.parallax-part_5.parallax-element(data-speed=0.04)
				.parallax-part.parallax-part_1.parallax-element(data-speed=0.033)
				.parallax-part.parallax-part_2.parallax-element(data-speed=0.06)
				.parallax-part.parallax-part_4.parallax-element(data-speed=0.02)
				.parallax-part.parallax-part_7.parallax-element(data-speed=0.01)
			.slider__item.slider__item_3
				.leaf.parallax-element(data-speed=0.12): img(src='/pic/design/leaf2.png')
				.leaf.parallax-element(data-speed=0.09): img(src='/pic/design/leaf1.png')
				.leaf.parallax-element(data-speed=0.05): img(src='/pic/design/leaf3.png')
