extends ./layouts/default

block head
	- pageTitle = 'Взаимозачет - ЖК Андреевка'

block content
	.page.page-interchange(data-type='interchange')

		main.page__content
			h1
				span.leaf-in-title Взаимозачет

			.interchange
				ul.interchange__list
					li.interchange__item
						h2 Связываетесь с нами
						p Вы определитесь что хотите жить в Андреевке. Связывайтесь с нами.
						a(href='/').feedback.feedback-link Обратная связь
						.image
							img(src='/pic/design/exchange-1.png')
							.leaf: img(src='/pic/design/leaf15.png')
					li.interchange__item
						h2 Заключаете договор
						p Вы заключаете договор с<br> агентством, после чего выбранная квартира в новостройке резервируется.
						.image
							img(src='/pic/design/exchange-3.png')
							.leaf: img(src='/pic/design/leaf15.png')
					li.interchange__item
						h2 Завершение сделки
						p Покупатель найден! Вы<br> одновременно<br> подписываете два договора:<br> продажи Вашего объекта и<br> покупки квартиры в<br> Андреевке.
						.image
							img(src='/pic/design/exchange-2.png')
							.leaf: img(src='/pic/design/leaf19.png')

		.parallax-container.parallax-interchange
			.parallax-element.parallax-element_1(data-speed=0.02)
				.leaf: img(src='/pic/design/leaf6.png')
			.parallax-element.parallax-element_2(data-speed=0.09)
				.leaf: img(src='/pic/design/leaf10.png')
			.parallax-element.parallax-element_3(data-speed=0.035)
				.leaf: img(src='/pic/design/leaf10.png')
			.parallax-element.parallax-element_4(data-speed=0.01)
				.leaf: img(src='/pic/design/leaf17.png')
