extends ./layouts/default

block head
	- pageTitle = 'Расположение - ЖК Андреевка'

block content
	.page.page-location(data-type='location')

		main.location.is-open
			.location-bubble
				h1.title Расположение
				p Особое внимание в проекте уделено благоустройству территории: дворы будут спроектированы в соответствии с последними тенденциями

				.location-method
					.location-method__item.location-method__item_car.is-open
						h2 На автомобиле
						p По Ленинградскому шоссе 19 км от МКАД в сторону города Зеленоград, поворот налево на Панфиловский проспект, далее до пересечения с улицей Андреева, сверните на нее и через 750 метров поверните налево на улицу Жилинская.
						p По Пятницкому шоссе 28 км от МКАД, далее, после пересечения с Жилинской улицей поверните направо
					.location-method__item.location-method__item_public
						h2 На общественном транспорте
						p Особое внимание в проекте уделено благоустройству территории: дворы будут спроектированы в соответствии с последними тенденциями

				.transport-type
					.transport-type__item.transport-type__item_car(data-type='car').is-active
					.transport-type__item.transport-type__item_public(data-type='public')

				.leaf: img(src='/pic/design/leaf5.png')

				a(href='/pic/design/genplan.jpg').genplan-bubble

			.close

		.route
			h6.route__label Маршруты:
			.route__item(data-route=0) От Пятницкого шоссе
			.route__item(data-route=1) От Ленинградского шоссе

		.leaf.leaf-1: img(src='/pic/design/leaf3.png')
		.leaf.leaf-2: img(src='/pic/design/leaf2.png')

		#location-map.location-map
