extends ./layouts/default

block head
	- pageTitle = 'Ипотека - ЖК Андреевка'

block content
	.page.page_bottom.page-mortage(data-type='mortage')

		main.page__content
			.mortage
				h1.mortage__title
					span.leaf-in-title Ипотека
				.mortage__actions
					a(href='/').link-print.action <span>Распечатать</span>
					a(href='/').link-pdf.action <span>PDF</span>
					.get-mail.action
							input(type='text' placeholder='Email').get-mail__input
							.get-mail__button
					.share.action
						a(href='/').share__button.share__button_vk
						a(href='/').share__button.share__button_fb
						a(href='/').share__button.share__button_tw
						a(href='/').share__button.share__button_g
						a(href='/').share__button.share__button_ok

				.mortage__content
					.mortage__selector.mortage-selector
						.mortage-selector__item.is-active
							| Программа №1<br>
							.mortage-selector__subtitle Программа с господдержкой
						.mortage-selector__item
							| Программа №2<br>
							.mortage-selector__subtitle Суперипотека
						.mortage-selector__item
							| Программа №3<br>
							.mortage-selector__subtitle Суперипотека
					.mortage__table
						.mortage-table
							.mortage-table__head
								.mortage-table__tab.is-active(data-num=0) <span>Банк 1</span>
								.mortage-table__tab(data-num=1) <span>Банк 2</span>
								.mortage-table__tab(data-num=2) <span>Банк 3</span>
							.scrollbar
								.mortage-table__wrap
									.mortage-table__table.is-active
										table(cellspacing=0 cellpadding=0)
											tr
												td Валюта
												td Рубли РФ
											tr
												td Валюта
												td Рубли РФ
											tr
												td Валюта
												td Рубли РФ
											tr
												td Валюта
												td Рубли РФ
											tr
												td Валюта
												td Рубли РФ
											tr
												td Валюта
												td Рубли РФ
											tr
												td Валюта
												td Рубли РФ
											tr
												td Валюта
												td Рубли РФ
									.mortage-table__table
										table(cellspacing=0 cellpadding=0)
											tr
												td Валюта222222
												td Рубли РФ
											tr
												td Валюта
												td Рубли РФ

					.leaf: img(src='/pic/design/leaf15.png')

		.parallax-container.parallax-mortage
			.parallax-element.parallax-element_1(data-speed=0.02)
				.leaf: img(src='/pic/design/leaf6.png')
			.parallax-element.parallax-element_2(data-speed=0.05)
				.leaf: img(src='/pic/design/leaf6.png')
			.parallax-element.parallax-element_3(data-speed=0.09)
				.leaf: img(src='/pic/design/leaf10.png')
