extends ./layouts/default

block head
	- pageTitle = 'Новости - ЖК Андреевка'

block content
	.page.page-news(data-type='news')

		main.page__content
			h1
				span.leaf-in-title Новости

			.news-list
				.news-list__list_wrap.scrollbar
					.news-list__list
						.news-list__item
							a(href='./news-detail.html').news-item
									.news-item__media
										.news-item__image: img(src='http://media.ndv.ru/pic/base_novos/28452-mprev.jpg' alt='')
										.news-item__read Читать &raquo;
									.news-item__content
										.news-item__date 22/09/2015
										.news-item__title На строительной площадке ЖК Андреевка
										.news-item__text Представитель Мосгорсуда не пояснил "Ведомостям", чем руководствовался судья, принимая решение о штрафе. Мотивировочная часть решения будет опубликована позднее. Если ответчик не согласен с решением суда, не исключено дальнейшее рассмотрение дела в более высоких инстанциях, пояснили в пресс-службе Мосгорсуда.
						.news-list__item
							a(href='./news-detail.html').news-item
									.news-item__media
										.news-item__image: img(src='http://media.ndv.ru/pic/base_novos/28452-mprev.jpg' alt='')
										.news-item__read Читать &raquo;
									.news-item__content
										.news-item__date 22/09/2015
										.news-item__title На строительной площадке ЖК Андреевка
										.news-item__text Представитель Мосгорсуда не пояснил "Ведомостям", чем руководствовался судья, принимая решение о штрафе. Мотивировочная часть решения будет опубликована позднее. Если ответчик не согласен с решением суда, не исключено дальнейшее рассмотрение дела в более высоких инстанциях, пояснили в пресс-службе Мосгорсуда.
						.news-list__item
							a(href='./news-detail.html').news-item
									.news-item__media
										.news-item__image: img(src='http://media.ndv.ru/pic/base_novos/28452-mprev.jpg' alt='')
										.news-item__read Читать &raquo;
									.news-item__content
										.news-item__date 22/09/2015
										.news-item__title На строительной площадке ЖК Андреевка
										.news-item__text Представитель Мосгорсуда не пояснил "Ведомостям", чем руководствовался судья, принимая решение о штрафе. Мотивировочная часть решения будет опубликована позднее. Если ответчик не согласен с решением суда, не исключено дальнейшее рассмотрение дела в более высоких инстанциях, пояснили в пресс-службе Мосгорсуда.
						.news-list__item
							a(href='./news-detail.html').news-item
									.news-item__media
										.news-item__image: img(src='http://media.ndv.ru/pic/base_novos/28452-mprev.jpg' alt='')
										.news-item__read Читать &raquo;
									.news-item__content
										.news-item__date 22/09/2015
										.news-item__title На строительной площадке ЖК Андреевка
										.news-item__text Представитель Мосгорсуда не пояснил "Ведомостям", чем руководствовался судья, принимая решение о штрафе. Мотивировочная часть решения будет опубликована позднее. Если ответчик не согласен с решением суда, не исключено дальнейшее рассмотрение дела в более высоких инстанциях, пояснили в пресс-службе Мосгорсуда.

				.leaf.leaf1: img(src='/pic/design/leaf1.png' alt='')

				.pagination.pagination_right
					span.pagination__prev: a(href='/') &laquo;
					span.pagination__page: a(href='/') 1
					span.pagination__page: a(href='/') 2
					span.pagination__page: a(href='/') 3
					span.pagination__page.last: a(href='/') 4
					span.pagination__next: a(href='/') &raquo;

		.parallax-container.parallax-default
			.parallax-element.parallax-element_1(data-speed=0.02)
				.leaf: img(src='/pic/design/leaf6.png')
			.parallax-element.parallax-element_2(data-speed=0.05)
				.leaf: img(src='/pic/design/leaf6.png')
			.parallax-element.parallax-element_3(data-speed=0.09)
				.leaf: img(src='/pic/design/leaf10.png')
