extends ./layouts/default

block head
	- pageTitle = 'Новости детальная - ЖК Андреевка'

block content
	.page.page-news-detail(data-type='news-detail')

		main.page__content
			h1
				span.leaf-in-title Новости
			.news-detail
				.news-detail__image
						img(src='http://media.ndv.ru/pic/base_novos/28452-mprev.jpg' alt='')
				.scrollbar
					.news-detail__content
						.news-detail__date 22/09/2015
						h2.news-detail__title На строительной площадке ЖК Андреевка
						.news-detail__text
							p <b>Широкую известность <a href="/">компания</a> «НДВ-Недвижимость» приобрела благодаря своей политике на рынке новостроек, предлагая покупателям доступное и комфортное жильё.</b>
							p Доля «НДВ-Недвижимость» составляет около 30% от общего объёма продаж в строящихся домах Москвы (без учёта присоединённых территорий) и около 7% в новостройках Подмосковья.
							p Новостройка «Новокосино-2» строится в подмосковном городе Реутове. Проект комплексной застройки комфорт-класса предусматривает возведение 17-ти монолитных и панельных домов переменной этажности (высотой от 9 до 25 этажей), двух школ, двух детских садов, поликлиники, пожарного депо, паркингов общей вместимостью 5719 машиномест. Одна из школ уже открыта, работает торгово-развлекательный комплекс с кинотеатром. Новостройка располагается рядом с метро «Новокосино». Доступные квартиры в «Новокосино-2» от застройщика сдаются как без отделки, так и с отделкой по выбору покупателя (стандарт, комфорт). Шесть корпусов уже заселены, а еще в двух корпусах идет выдача ключей. Минимальная площадь квартир – 24,5 кв. м. На первых этажах домов предусмотрены помещения под кафе, службы быта, магазины и офисы. В компании «НДВ-Недвижимость» вы получите полную информацию о квартирах в «Новокосино-2». Вы сможете узнать про актуальные цены и планировки квартир, договориться о просмотре, ознакомиться с документацией проекта и купить квартиру в новостройке Микрорайон «Новокосино-2».

				.leaf: img(src='/pic/design/leaf15.png')

			a(href='/').back-link &laquo; Назад

		.parallax-container.parallax-default
			.parallax-element.parallax-element_1(data-speed=0.02)
				.leaf: img(src='/pic/design/leaf6.png')
			.parallax-element.parallax-element_2(data-speed=0.05)
				.leaf: img(src='/pic/design/leaf6.png')
			.parallax-element.parallax-element_3(data-speed=0.09)
				.leaf: img(src='/pic/design/leaf10.png')
