extends ./layouts/default

block head
	- pageTitle = 'Участники - ЖК Андреевка'

block content
	.page.page-participants(data-type='participants')

		main.page__content
			h1
				span.leaf-in-title Участники
			.scrollbar
				.participants-list

					.participants-list__item
						.participant
								h3.participant__title Эксклюзивный агент по реализации НДВ-Недвижимость
								.participant__text За 15 лет работы, «НДВ-Недвижимость» неоднократно признавалась лучшей на рынке недвижимости. По итогам 2014 года компания «НДВ-Недвижимость» была названа «Маркой №1 в России», а в 2015 году уже в пятый раз была удостоена премии «Рекорды Рынка» в номинации «Риэлтор №1». Из года в год объекты компании становятся обладателями престижной премии Московского бизнес клуба, кроме того проекты, которые представляет «НДВ-Недвижимость» неоднократно становились победителями TREFI.
								.participant__image: img(src='http://media.ndv.ru/pic/base_novos/28452-mprev.jpg' alt='')

								.button-plus
					.participants-list__item
						.participant
								h3.participant__title Эксклюзивный агент по реализации НДВ-Недвижимость
								.participant__text Эксклюзивный агент по реализации НДВ-Недвижимость
								.participant__image: img(src='http://media.ndv.ru/pic/base_novos/28452-mprev.jpg' alt='')

								.button-plus
					.participants-list__item
						.participant.participant_imageoff
								h3.participant__title Эксклюзивный агент по реализации НДВ-Недвижимость
								.participant__text Эксклюзивный агент по реализации НДВ-Недвижимость

								.button-plus
					.participants-list__item
						.participant
								h3.participant__title Эксклюзивный агент по реализации НДВ-Недвижимость
								.participant__text Эксклюзивный агент по реализации НДВ-Недвижимость
								.participant__image: img(src='http://media.ndv.ru/pic/base_novos/28452-mprev.jpg' alt='')

								.button-plus

			.leaf.leaf-in-participants: img(src='/pic/design/leaf15.png')

		.parallax-container.parallax-participants
			.parallax-element.parallax-element_1(data-speed=0.046)
				.leaf: img(src='/pic/design/leaf6.png')
			.parallax-element.parallax-element_2(data-speed=0.05)
				.leaf: img(src='/pic/design/leaf12.png')
